body {
    background: #f4f4f4;
}

/*头部*/
.header-member {
    position: relative;
}
.header-member .headbg {
    width: 100%;
}
.header-member .headbg img {
    width: 100%;
}
.header-member .head-pic {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 10;
    top: 1.2rem;
}
.header-member .head-pic .a-pic {
    display: block;
    width: 21.875%;
    box-sizing: border-box;
    padding: 0.625%;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 10px #f66663;
    margin: 0 auto .7rem;
}
.header-member .head-pic .a-pic img {
    width: 100%;
    border-radius: 50%;
}
.header-member .head-pic p {
    color: #fff;
    line-height: 1.4;
}
.header-member .a-set {
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    margin: .61rem .84rem;
    width: 6.25%;
}
.header-member .a-set img {
    width: 100%;
}
/*头部--end*/

/*前往相应状态的订单*/
.stn-toOrder ul{font-size:0/*去除inline-block的间距*/;background: #fff;border-bottom:1px solid #c5c5c5;}
.stn-toOrder li{width:33.3%;display:inline-block ;position:relative;}
.stn-toOrder li .a-order{display: block;color:#454545;text-align: center;padding-bottom:.4rem;}
.stn-toOrder li .a-order .imgbox{margin-top:.6rem;position: relative;}
.stn-toOrder li .a-order .imgbox img{width:23.9%;display:block;margin:0 auto .35rem;}
.stn-toOrder li .a-order .imgbox span{position: absolute;width:.9rem;height:.9rem;line-height:1rem;background-color: #f77a02;color: #fff;border-radius:50%;top:-.4rem;left:54%;}
/*前往相应状态的订单--end*/


/*签到*/
.header-member .a-edit {
	display: block;
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
}
.header-member .a-edit img {
	width: 1.7rem;
	height: 1.74rem;
	margin: .61rem .84rem;
}
.shade {
	display: none;
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: #000;
	top: 0;
	opacity: 0.5;
}
.stn-sign {
	display: none;
	position: absolute;
	z-index: 101;
	left: 6.2%;
	top: 8rem;
	width: 87.6%;
	background-color: #fff;
	border-radius: 12px;
	text-align: center;
}
.stn-sign .i-close {
	position: absolute;
	top: 0;
	right: 0;
	width: 1.15rem;
	height: 1.15rem;
	padding: 1.02rem 1.32rem;
}
.stn-sign .i-sign {
	width: 8.6rem;
	height: 8.6rem;
	margin: 1.6rem auto 1.1rem;
}
.stn-sign p {
	line-height: 2rem;
	color: #555555;
}
.stn-sign p span {
	color: #fd7d09;
}
.stn-sign .a-confirm {
	display: block;
	width: 90%;
	height: 2.8rem;
	line-height: 2.8rem;
	color: #fff;
	border-radius: 6px;
	margin: 1.8rem auto 1.09rem;
	background-color: #fd7d09;
}
/*签到--end*/

/*导航列表*/
nav{padding-bottom:3%;}
nav ul{margin-top:3%;border: solid #dcdcdc;border-width: 1px 0 1px;    background-color: #fff;}
nav li {
	height: 3.19rem;
}
nav li a {
	display: block;
	height: 3.19rem;
	line-height: 3.19rem;
	background: url(../img/left.png) no-repeat 95% center;
	background-size: .58rem 1.09rem;
    margin:0 2%;
    border-top:1px solid #dcdcdc;
}

nav li:first-child a{border-top:none;}

nav li .s-img {
	display: inline-block;
	width: 1.74rem;
	height: 1.74rem;
	margin-left: 4.375%;
    text-align: center;
}
nav li .s-img img{
    display: inline-block;
	max-width: 1.74rem;
	max-height: 1.74rem;
    vertical-align: middle;
}
nav li .s-name {
	display: inline-block;
	color: #242424;
	margin-left: .94rem;
    vertical-align: middle;
}
@media screen and (min-width:321px) and (max-width:639px) {
	.stn-sign {
		top: 6.2rem;
	}
	.stn-sign .i-sign {
		width: 6.6rem;
		height: 6.6rem;
	}
	.stn-sign p {
		line-height: 1.57rem;
	}
	.stn-sign .a-confirm {
		height: 2.16rem;
		line-height: 2.16rem;
		margin-top: 1rem;
	}
}
