/*VIP信息*/
body{background-color: #f4f4f4;}
.stn-VIPinfo{background-color: #fff;padding:3% 4.5%;line-height:1.7 ;margin-top:3%;  border:solid #c5c5c5;border-width:1px 0;}
.stn-VIPinfo p{color: #939292;}
.stn-VIPinfo .p-title{color: #454545;}
