@charset "utf-8";
/* CSS Document */
/*E:\UBTong\activity\layout1\actpay\actfailure\actfailure1*/
.cart-pay .a-pay:active{ background:#ff5f5f;}
.cart-pay .a-green:active{ background:#56d489;}

/*E:\UBTong\activity\layout1\actpay\actsucceed\actsucceed1\btnsucceed\btnsucceed1*/
.stn-btnsucceed a:active{ background:#f4712d;}
.stn-btnsucceed a:last-child:active{ background:#}/*原本是这样#18c7ca*/

/*E:\UBTong\activity\layout1\actpay\actsucceed\actsucceed1\succeed\succeed1*/
.stn-subsucceed .outlets li a:active{ background:#5eaefa;}

/*E:\UBTong\activity\layout1\details\detailsbtn\detailsbtn1*/
.details-btn .a-orange:active{ background:#f4712d;}

/*E:\UBTong\activity\layout1\details\outlets\outlets1*/
.stn-outlets li a:active{ background:#5eaefa;}

/*E:\UBTong\activity\layout1\settle\btn\btn1*/
.stn-pricesbtn a:active{ background:#f4712d;}

/*E:\UBTong\activity\layout1\settle\btn\btn2*/
.btn-settlement a:active{ background:#f4712d;}
.btn-settlement a:last-child:active{ background:#f5f5f5;}
.btn-setpayment a:active{  background:#f15a0c; border-color:#f15a0c; color:#fff;}
.btn-setpayment a:last-child:active{background:#f15a0c; border-color:#f15a0c; color:#fff;}

/*E:\UBTong\backstage\layout1\logistics\logistics2*/
.btn-btn:active{background:#f4712d;}

/*E:\UBTong\backstage\layout1\order\lists\lists1*/
.art-order .product-btn a.a-null:active{ border-color:#787878; color:#787878;}
.art-order .product-btn a.a-green:active{ border-color:#56d489; background:#56d489;}
.art-order .product-btn a.a-orange:active{ border-color:#f4712d; background:#f4712d;}

/*E:\UBTong\cart\layout1\address\address1*/
.btn-address .a-orange:active{ background:#f4712d;}
.address-distribution .a-edit:active{ background:#f4712d;}
.address-btn .a-orange:active{ background:#f4712d;}
.address-btn a:last-child:active{ background:#bfbebe;}
.address-null .a-edit:active{ background:#f4712d;}

/*E:\UBTong\cart\layout1\cartpay\cartpay1*/
.cart-pay .a-orange:active{ background:#} /*原本是#f67a09*/
.cart-pay .a-green:active{ background:#56d489;}

/*E:\UBTong\cart\layout1\lists\btncart\btncart1*/
.cart-btn a:active{ background:#f4712d;}
.cart-btn a:last-child:active{ background:#bfbebe;}

/*E:\UBTong\cart\layout1\lists\null\null1*/
.stn-cartnull .a-visit:active{ background:#f4712d;}

/*E:\UBTong\category\layout1\category*/
.stn-mileage button:active{ background:#ff5f5f;}

/*E:\UBTong\details\layout1\details\details1*/
.product-details .a-collect:active{background:url(../../details/layout1/details/details1/res/img/collecta.png) no-repeat;}
 
 /*E:\UBTong\details\layout1\detailsbtn\detailsbtn1*/
.details-btn .a-orange:active{ background:#f4712d;}
.details-btn .a-yellow:active{ background:#f99400;}

/*E:\UBTong\details\layout1\meal\meal1*/
.stn-maintenance .package-btn .btn a:active{ background:#ff5f5f;}
.stn-maintenance .package-btn .btn a:last-child:active{ background:#1adbdd;}

/*E:\UBTong\details\layout1\popup\popup1*/
.box-popup .btn a:active{ background:#f4712d;}

/*E:\UBTong\details\layout1*/
.details-btn .a-red:active{ background:#e14246;}
.details-btn .a-rosered:active{ background:#a6a6a6;}

/*E:\UBTong\distribution\branch\branch\branch1*/
.parts-btn .oranges:active{ background:#;}/* 原本是#fd7d09;*/

/*E:\UBTong\distribution\commission\commission1*/
.stn-commission-detail .a-query:active{ background:#;}/* 原本是#fd7d09;*/

/*E:\UBTong\distribution\merchandise\lists\lists1*/
.stn-lists li .a-btn:active{ background:#}/* 原本是#fd7d09;*/
.stn-lists li .a-null:active{ background:#aab5c0;}

/*E:\UBTong\distribution\mybank\mybank1*/
.a-bgorange:active{ background-color:#;}/* 原本是#fd7d09;*/
.addcard #bankList .a-confirm:active{ background:#;}/* 原本是#fd7d09;*/
.a-bgblue:active{ background-color:#}/* 原本是#3f9efa;*/


/*E:\UBTong\distribution\order*/
.art-order .product-btn a.orange:active{ background:#; border-color:#;}/*原本是#fd7d09*/
.art-order .product-btn a.null:active{ border-color:#787878; color:#787878;}

/*E:\UBTong\distribution\shop\shop\select\select1*/
.parts-btn a:active{ background:#;}/*原本是#fd7d09*/


.stn-info .info p a:active{ background:#60aef9;}

/*E:\UBTong\dot\layout1\details\evaluate\evaluate2*/
.stn-evaluate .btn-evaluate a:active{ background:#f4712d;}

/*E:\UBTong\dot\layout1\details\information\information1*/
.stn-information .btn a:active{ background:#60aef9;}
.stn-information .btn a:first-child:active{ background:#e14246;}

/*E:\UBTong\dot\layout1\details\project\project1*/
.stn-project li a:active{ background:#60aef9;}

/*E:\UBTong\dot\layout1\details\synopsis\synopsis2*/
.stn-synopsis .synopsis .btn a:active{ background:#60aef9;}
.stn-synopsis .synopsis .btn a:first-child:active{ background:#e14246;}

/*E:\UBTong\dot\layout1\details\synopsis\synopsis1*/
.stn-synopsis .a-gbook:active{ background:#f4712d;}

/*E:\UBTong\dot\layout1\details*/
.banner .message a:active{ background:#fe4c4b;}

/*E:\UBTong\dot\layout1\list*/
.box-region .a-btn:active{ background:#ec212b;}
.stn-lists li .blue:active{ background:#5eaefa;}
.stn-lists li .red:active{ background:#fe4c4b;}

/*E:\UBTong\index\layout1\lists\lists2*/
.index-lists li .a-addcart:active{ background-color:#fba239;}
.index-lists li .a-reservat:active{ background-color:#fba239;}
.index-lists li .a-subscribe:active{ background-color:#fba239;}
.index-lists .li-null .a-addcart:active{ background-color:#a5a5a5;}
.index-lists .li-null .a-subscribe:active{ background-color:#a5a5a5;}
.index-lists .li-null .a-reservat:active{ background-color:#a5a5a5;}

/*E:\UBTong\index\layout1\lists\lists3*/
.index-lists li .p-subscribe:active{ background:url(../../index/layout1/lists/lists3/res/img/btn1.png) no-repeat right 0;position:absolute; bottom:.8rem; right:-.39rem; width:40%;}
.index-lists li .p-subscribe:active span{ background-color:#fe4c4b;}

/*E:\UBTong\index\layout1*/
.index-lists li .a-cart:active{ background:url(../../index/layout1/lists/lists4/res/img/cart1.png) no-repeat;}


/*E:\UBTong\lists\layout1\header\header2*/
.list-head .stn-type .lists li a:active{ background:#ff6500; color:#fff; border-color:#ff6500;}


.stn-login .text .a-btn:active{ background:#fe4c4b;}
.stn-login .a-register:active{ color:#6d6d6d; border-color:#6d6d6d;}

/*E:\UBTong\login\layout1\login\sellerlogin\login1*/
.stn-logo .login-text .inp-login:active{ background:#}/*原本是#f9671e*/

/*E:\UBTong\login\layout1\register*/
.stn-register td a:active{ background:#00df25;}
.stn-register .a-btn:active{ background:#fe4c4b;}

/*E:\UBTong\login\layout1\register\success\success1*/
.stn-success .a-btn:active{ background:#fe4c4b;}
.stn-success .blue:active{ background:#34afff;}
.stn-success .purple:active{ background:#4582ff;}

/*E:\UBTong\member\layout1\address\address1*/
.btn-address .a-red:active{ background:#fe4c4b;}
.address-btn a:active{ background:#fe4c4b;}

/*E:\UBTong\member\layout1\car\carlist\carlist1*/
.btn-car .a-red:active{ background:#e14246;}

/*E:\UBTong\member\layout1\car\editcar\editcar1*/
.editcar-btn a:last-child:active{ background:#bfbebe;}
.editcar-btn .a-red:active{ background:#fe4c4b;}

/*E:\UBTong\member\layout1\collection\lists\lists1*/
.stn-sublists li .a-btn:active{ color:#ff302f; border-color:#ff302f;}

/*E:\UBTong\member\layout1\credit\credit1*/
.download-btn a:active{ background:#e14246;}
.apply-btn a:active{ background:#e14246;}
.btn a:active{ background:#e14246;}

/*E:\UBTong\member\layout1\evaluation\details\evaluation1*/
.stn-evaluation .btn-evaluation a:active{ background:#f4712d;}

/*E:\UBTong\member\layout1\evaluation\details\evaluation2*/
.parts-btn .red:active{ background:#fe4c4b;}

/*E:\UBTong\member\layout1\index\index2*/
.stn-sign .a-confirm:active{ background:#;}/*原本是 #fd7d09*/

/*E:\UBTong\member\layout1\information\information2*/
.meminfo-change .a-save:active{ background:#e14246;}

/*E:\UBTong\member\layout1\order*/
.art-order .product-btn a.a-red:active{ background:#fe4c4b;}

/*E:\UBTong\member\layout1\orderverify\orderverify1*/
.check:active{ background:#f4712d;}

/*E:\UBTong\member\layout1\popularize\lists\lists1*/
.stn-mbelists li .a-links:active{ background:#fe4c4b}

/*E:\UBTong\member\layout1\upgradeVIP\upgradeVIP1*/
.a-bind:active{ background:#e14246;}

/*E:\UBTong\member\layout1\vieworder\vieworder1*/
.stn-product .a-btn:active{ color:#d02701; border-color:#d02701;}

/*E:\UBTong\member\layout1\withdrawal\btn\btn1*/
.box-withdraw .a-btn:active{ background:#fe4c4b;}

/*E:\UBTong\member\layout1\withdrawal*/
.box-withdraw td a:active{ background:#00df25;}

/*E:\UBTong\parts\shared\shared1*/
.stn-share .a-money:active{ background:#f4712d;}

/*E:\UBTong\seller\layout1\bill\bill1*/
.bill-query .a-query:active{ background:#5eaefa;}

/*E:\UBTong\seller\layout1\confirm\confirm1*/
.show-confirm .stn-num .a-draw:active{ background:#;}/*原本是#eb6326*/

/*E:\UBTong\seller\layout1\index\index1*/
.a-quit:active{ background:#;}/*原本是#f1590d*/

/*E:\UBTong\seller\layout1\information\info\info1*/
.parts-btn .orange:active{ background:#}/*原本是#f1590d*/

/*E:\UBTong\seller\layout1\logistics\logistics1*/
.box-logistics .btn a:active{border:1px solid #cccccc; color:#161616; background:#f0f0f0;}

/*E:\UBTong\seller\layout1\mybank\mybank1*/
.successd-m a:active{ background:#f4712d;}
.addcard .a-act:active{ background:#;}/*原本是#f1590d*/
.addcard #bankList .a-confirm:active{ background:#000;}/*原本是#f1590d*/
.a-act:active{ background:#5eaefa;}

/*E:\UBTong\seller\layout1\mybank\mybank2*/
.mybank-del .a-act:active{ background:#ec212b;}

/*E:\UBTong\seller\layout1\popularize\manage\survey\survey1*/
.stn-survey .a-btn:active{ background:#}/*原本是#f1590d*/
.stn-survey p a:active{ background:#;}/*原本是#f1590d*/

/*E:\UBTong\seller\layout1\withdraw\withdraw1*/
.bgorange:active{ background:#;}/*原本是#f1590d*/
.bgblue:active{ background:#5eaefa}


.stn-subdetailsbtn a:active{ background:#e14246;}
.stn-subdetailsbtn .a-last:active{ background:#60aef9;}


