/* CSS重置 */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,img,table,th,td,form,fieldset,legend,input,textarea,button,select,header,section,aside,footer{margin:0;padding:0;}
header,section,aside,footer{display:block;}
body{font-family:'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;font-size-webkit-text:none;max-width:640px;min-width:320px;margin:0 auto;}
input{font-family:'microsoft yahei',Verdana,Arial,Helvetica,sans-serif;}
img{border:0;vertical-align:middle;}
a{text-decoration:none;-webkit-appearance:none;}
a,button,input,textarea{-webkit-tap-highlight-color:rgba(0,0,0,0);}
a:focus,input:focus{outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
ul,ol,li{list-style-type:none;}
em,i,address{font-style:normal;}
h1,h2,h3,h4,h5,h6{font-weight:normal;}
table{border-collapse:collapse;}
.clr{clear:both;display:block;font-size:0;height:0;line-height:0;overflow:hidden;}


/*
.fz60{ font-size:1.5rem;}
.fz58{ font-size:1.45rem;}
.fz56{ font-size:1.4rem;}
.fz54{ font-size:1.35rem;}
.fz52{ font-size:1.3rem;}
.fz50{ font-size:1.25rem;}
.fz48{ font-size:1.2rem;}
.fz46{ font-size:1.15rem;}
.fz44{ font-size:1.1rem;}
.fz42{ font-size:1.05rem;}
.fz40{ font-size:1.0rem;}
.fz38{ font-size:.95rem;}
.fz36{ font-size:.9rem;}
.fz34{ font-size:.85rem;}
.fz32{ font-size:.8rem;}
.fz30{ font-size:.75rem;}
.fz28{ font-size:.7rem;}
.fz26{ font-size:.65rem;}
.fz24{ font-size:.6rem;}
.fz22{ font-size:.55rem;}
.fz20{ font-size:.5rem;}
.fz18{ font-size:.45rem;}
.fz16{ font-size:.4rem;}
.fz14{ font-size:.35rem;}
.fz12{ font-size:.3rem;}

*/
.fz120{ font-size:60px;}
.fz70{ font-size:35px;}
.fz60{ font-size:30px;}
.fz58{ font-size:29px;}
.fz56{ font-size:28px;}
.fz54{ font-size:27px;}
.fz52{ font-size:26px;}
.fz50{ font-size:25px;}
.fz48{ font-size:24px;}
.fz46{ font-size:23px;}
.fz44{ font-size:22px;}
.fz42{ font-size:21px;}
.fz40{ font-size:20px;}
.fz38{ font-size:19px;}
.fz36{ font-size:18px;}
.fz34{ font-size:17px;}
.fz32{ font-size:16px;}
.fz30{ font-size:15px;}
.fz28{ font-size:14px;}
.fz26{ font-size:13px;}
.fz24{ font-size:12px;}
.fz22{ font-size:11px;}
.fz20{ font-size:10px;}
.fz18{ font-size:9px;}
.fz16{ font-size:8px;}
.fz14{ font-size:7px;}
.fz12{ font-size:6px;}

/*边框细化*/
.bd::after{
    position:absolute;
    content:"";
    top:0;
    left:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width:100%;
    height:100%;
    pointer-events:none;
    -webkit-transform-origin:0 0;
    -moz-transform-origin:0 0;
    -ms-transform-origin:0 0;
    -o-transform-origin:0 0;
    transform-origin:0 0;
}

/*table中的各元素通过按需定义以下类,实现边框细化,必须与default.js共用*/
.bd-left{border-left:1px solid #c6c6c6;}
.bd-right{border-right:1px solid #c6c6c6;}
.bd-top{border-top:1px solid #c6c6c6;}
.bd-bottom{border-bottom:1px solid #c6c6c6;}

/* 最后两个是为了检测Mobile ie9*/
@media (-moz-min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx), (-ms-high-contrast:active), (-ms-high-contrast:none) {
    .bd::after{
        width:200%;
        height:200%;
        -webkit-transform:scale(.5);
        -ms-transform:scale(.5);
        -o-transform:scale(.5);
        transform:scale(.5);
    }
}

/*风格颜色类*/
/*主要风格,当前绿色*/
.color{color:#69c2c0 !important;}
.bg-color{background-color: #67bebc !important;}
.bd-color{border-color:#69c2c0 !important;}
/*主要风格,以下为input-radio/checkbox选择后变色为主色调的*/
.chk-color{color:#69c2c0 !important;}
.chk-bg-color:checked{background-color: #67bebc !important;}
.chk-bd-color:checked{border-color:#69c2c0 !important;}
/*交互后后变色的,可以在脚本中赋予.color等类*/


/*配套颜色,当前深蓝*/
.color2{}
.bg-color2{background-color: #5c6ed6 !important;}

/*文字,限制仅一行,超出部分显示"..."*/
.l-1{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
