/*版权*/
.parts-copyright{height:7.23rem; position:relative;}
.parts-copyright a{float:left;width:33%;border-right:1px solid #c6c6c6;text-align: center;box-sizing: border-box;margin-top:1.34rem;color:#464646;}
.parts-copyright a:last-child{border-right:none;}
.parts-copyright p{ width:9.3rem; height:2.36rem;position:absolute; bottom:0.9rem; left:50%; margin-left:-4.68rem;}
.parts-copyright p img{ width:100%; height:100%;}

