/*产品列表*/
.index-lists {background-color: #fff;padding-bottom: .65rem;}
.index-lists li{float:left; width:45.3%;background-color: #fff;margin:.45rem 0 0 3.3%; border:1px solid #dddddd;}
.index-lists li .a-product{display:block;}
.index-lists li .s-img{position: relative;display: table-cell;text-align: center;vertical-align: middle;}
.index-lists li .s-img img{box-sizing: border-box;padding:3%;}
.index-lists li .s-img .s-mark{position: absolute;padding:.075rem .175rem;background-color: #ff6633;border-radius: 0.125rem;top:.45rem;left:.45rem;color:#fff;}

.index-lists li .product{padding:.15rem 3% .45rem;}
.index-lists li .product .p-name{height:1.4rem;overflow: hidden;color: #282828; line-height:0.7rem; margin-bottom:0.25rem;display:-webkit-box !important;text-overflow:ellipsis;word-break:break-all;-webkit-box-orient:vertical;-webkit-line-clamp:2;} 
.index-lists li .product .p-money{color:#ff3430;white-space: nowrap;}
.index-lists li .product .p-money .s-price{color: #c8c8c8;;text-decoration: line-through;padding-left:.35rem;}
.index-lists li .product .p-money .s-integral{color:#6633ff;}
.index-lists li .product .p-money .s-integral em{padding: 0 .075rem 0 .075rem;color:#bebebe;vertical-align:.075rem;}
.index-lists li .product .p-money .s-integral b{padding-left: .075rem;}

.index-lists li .product .p-count{color: #c8c8c8;margin-top:3%; line-height:0.525rem; height:0.525rem;}
.index-lists li .product .p-count span{float:right; line-height:0.5rem;}

