/*广告图片*/
.stn-advertis{ box-shadow:0 0 .125rem #e8e8e8; padding:3% 3% 1%; margin-top:.6rem; }
.stn-advertis li{ float:left; width:49%; margin:0 2% 2% 0; }
.stn-advertis li.li-right{ margin-right:0; }
.stn-advertis li img{ display:block; max-width:100%; height:auto; }


/*广告图片*/
.stn-advertis-onlypic .pic-col-2{font-size: 0;}
.stn-advertis-onlypic .pic-col-2 a{display: inline-block;padding:2.3% 2% 0;width:46%;}
.stn-advertis-onlypic .pic-col-2 a img{width:100%;}
