/*轮播图片*/
.banner {
	position: relative;
    background-color: #f7f5f5;
}
.banner .slider {
	z-index: 1;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
    width: 100%;
}
.banner .slider .sliderlist {
	position: absolute;
/*	width: 2000px;*/
	left: 0;
	top: 0px;
    width: 100%;
    height:100%;
}
.banner .slider .sliderlist li {
	float: left;
	width: 100%;
	display: block;
	text-align: center;
    height:100%;
}
.banner .slider .sliderlist li a{display: block;width: 100%;vertical-align: middle;}
.banner .slider .sliderlist li span {
	margin: 0 auto;
	display: inline-block;
}
.banner .slider .sliderlist li img {
/*	width: 100%;*/
/*	max-height: 300px;*/
    vertical-align: middle;
}
.banner .slider #pagenavi {
	position: absolute;
	left: 0;
	bottom: 5px;
	text-align: center;
	width: 100%;
}
.banner .slider #pagenavi a {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	line-height: 99em;
	background: #ffffff;
	margin: 0 2px 0 2px;
	overflow: hidden;
	cursor: pointer;
	display: inline-block;
	*display: inline;
	zoom: 1;
}
.banner .slider #pagenavi a.active {
	background: #e60012;
}



/*图片弹出放大*/
body{position:relative;}/*为了兼容微信的中心缩放效果, .focusWrap 采用了针对body的absolute*/
.focusWrap{position: absolute;width:100%;height:100%;top:0;left:0;/*display: none;*/}
.focusWrap .focusBg{position:absolute;width:100%;height:100%;background-color: #000/*b2b2b2*/;opacity: 0.3;top:0;left: 0;}
.pinch-zoom-container{position:relative;}
.focusWrap .focusImg,.focusWrap .pinch-zoom{position:relative;top:0;left: 0;text-align: center;width:100%;height:auto;overflow: visible;}
/*.focusWrap .focusImg span{display: block;}*/
/*.focusWrap .focusImg span{float:left; position:relative; left:50%;height:100%;}*/ /*不放大居中时,需要该项*/
.focusWrap .pinch-zoom img,.focusWrap .focusImg img{position:relative;/*left:-50%;*/ /*width:100%;*/}
/*.focusWrap .btn{position:fixed;width:2rem;height:2rem;left:.7rem;top:.7rem;z-index: 1000;}*/

/*.focusBg{height:100%;background-color: #000;opacity: 0;z-index: 998;}*/