/*项目分类*/
.stn-category{ width:100%; margin:0 auto;padding-top:0.5rem;}
.stn-category h1{ color:#343434; text-align:center; margin:.875rem 0; }
.stn-category ul{width:93.6%;margin:0 auto;}
.stn-category li{ width:33.33%; float:left; text-align:center; margin-bottom:.55rem; }
.stn-category ul.forth li{ width:25%;}
.stn-category li a{ display:block;}
.stn-category li a .s-img{ display:block; width:2.575rem; height:2.575rem; margin:0 auto;  border-radius:10px; }
.stn-category li a .s-img img{ width:100%; height:auto; }
.stn-category li a p{ margin:.25rem 0; color:#343434; max-height:1.75rem; height:1.75rem; line-height:.875rem; overflow: hidden; padding:0 .6rem;}

.stn-category ul{margin-top:3%;}
.stn-category .ad .ad-img{ width:96.59%; margin:0 auto;}
.stn-category .ad .ad-img img{ width:100%; height:auto;}
/*
@media screen and (min-width:321px) and (max-width:640px){
.stn-category li a p{  max-height:1.8rem; height:1.8rem;}
}
*/
