/*我的评价*/
.stn-evaluate li{ padding:0 3.205%; border:solid #d9d9d9; border-width:1px 0; background:#fff; margin-top:.72rem; }
.stn-evaluate li .li-top{ border-bottom:1px solid #d9d9d9; padding:.72rem 0; }
.stn-evaluate li .li-top .p-name{ color:#282828; margin-bottom:.35rem; }
.stn-evaluate li .li-top .p-name span{ display:block; float:right; margin-top:.2rem; color:#9b9b9b; }
.stn-evaluate li .li-top .p-gbook{ color:#686868; margin-bottom:.72rem; }
.stn-evaluate li .li-top .level p{ float:left; width:50%; color:#686868; margin-bottom:.1rem; }
.stn-evaluate li .li-top .level p em{ display:block; float:left; }
.stn-evaluate li .li-top .level p span{ display:block; float:left; background:url(../img/star.png) no-repeat; background-size:3.56rem .65rem; height:.65rem; margin-top:.15rem; }
.stn-evaluate li .li-top .level p .star1{ width:.7rem; }
.stn-evaluate li .li-top .level p .star2{ width:1.4rem; }
.stn-evaluate li .li-top .level p .star3{ width:2.1rem; }
.stn-evaluate li .li-top .level p .star4{ width:2.8rem; }
.stn-evaluate li .li-top .level p .star5{ width:3.56rem; }

.stn-evaluate li .li-bottom{ padding:.72rem 2%; }
.stn-evaluate li .li-bottom .p-order{ color:#676767; margin-bottom:.72rem; }
.stn-evaluate li .li-bottom .p-order span{ display:block; float:right; }
.stn-evaluate li .li-bottom .s-img{ display:block; float:left; width:5.01rem; height:5.01rem; border:1px solid #f3f3f3; margin-left:.36rem; }
.stn-evaluate li .li-bottom .s-img img{ width:100%; height:100%; }
.stn-evaluate li .li-bottom .details{ width:36%; float:left; margin-left:0.72rem; }
.stn-evaluate li .li-bottom .details .p-name{ height:2.54rem; color:#000; font-size:.71rem; line-height:1rem; /*text-overflow:ellipsis; overflow:hidden; white-space:nowrap; */}
.stn-evaluate li .li-bottom .details .p-money{ color:#ff6766; font-size:.85rem; margin-top:1.30rem; }
.stn-evaluate li .li-bottom .s-num{ display:block; float:right; color:#939292; font-size:0.74rem; margin:2.11rem .36rem 0 0; }

@media screen and (max-width:320px){
	.stn-evaluate li .li-bottom .details{ width:45%; }
	.stn-evaluate li .li-top .level p span{ margin-top:.35rem; }
	.stn-evaluate li .li-bottom .details .p-name{ font-size:.96rem; line-height:1.2rem; /*text-overflow:ellipsis; overflow:hidden; white-space:nowrap; */}
	.stn-evaluate li .li-bottom .details .p-money{ font-size:1.11rem; margin-top:1.00rem; }
	.stn-evaluate li .li-bottom .s-num{ font-size:0.96rem; margin-top:1.81rem; }
}