.cart-integral{ width:93.75%; margin:.72rem auto 0; }
.cart-integral input[type=checkbox]{ -webkit-appearance:none; appearance:none; width:20px; height:20px; margin:1.81rem 3% 0 .72rem; cursor:pointer; vertical-align:bottom; background:none; border:1px solid #dbdada; -webkit-border-radius:7px; -moz-border-radius:7px; border-radius:7px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; position:relative; outline:none; float:left; }
.cart-integral input[type=checkbox]:checked::before{ content:url(../img/checkmark.png); display:block; position:absolute; top:0px; left:0px; }
.cart-integral .integral{ width:85%; height:3.71rem; background:#fff; border:1px solid #eae8e8; border-radius:4px; float:right; padding:.9rem 0 .6rem; }
.cart-integral .integral p{ color:#939292; padding:0 .72rem; margin-bottom:.3rem; }
.cart-integral .integral p span{ color:#e52c02; }
.cart-integral .integral .s-input{ display:inline-block; width:7.3rem; height:2.1rem; border-radius:4px;border: 1px solid #cccccc;}
.cart-integral .integral .s-input input{ width:6.8rem; height:2.1rem; line-height:2.1rem; color:#939292; border:none; padding-left:.5rem; }

@media screen and (min-width:640px){
	.cart-integral input[type=checkbox]:checked::before{ top:0px; left:0px; }
}
@media screen and (min-width:320px) and (max-width:640px){
	.cart-integral input[type=checkbox]{ margin:1.78rem 3% 0 .72rem; }
	.cart-integral .integral p input{ width:6.11rem; }
}
@media screen and (max-width:320px){
	.cart-integral input[type=checkbox]{ width:20px; height:20px; border-radius:7px; margin:1.78rem 3% 0 .72rem; }
	.cart-integral input[type=checkbox]:checked::before{ content:url(../img/checkmark.png); }
}