body {
	background: #f7f5f5;
}
.stn-topmember {
	position: relative;
	height: 7.56rem;
  background: url(../img/img1.jpg) no-repeat;
	background-size: 100% 7.56rem;
}
.stn-topmember p {
	display: block;

	width: 93%;
	height: 7.56rem;
	padding-left: 7%;
}



.stn-topmember .a-general {
	position: absolute;
	z-index: 10;
	color: #fff;
	font-size: 1.3rem;
	margin-top: 1.5rem;
	width: 85%;
	background: url(../img/leftw.png) no-repeat right center;
	background-size: .58rem 1.09rem;
}
.stn-topmember .a-general span {
	display: block;
	font-size: 1.16rem;
	margin: .1rem 0 0 2px;
}

.stn-topmember .a-recharge{
  position: absolute;
  bottom: .7rem;
  left: 7%;
  color: #fff;
  font-size: 1.16rem;
/*  text-decoration: underline;*/
/*  padding-bottom:.1rem;*/
/*  border-bottom:1px solid #fff;*/
}
nav li {
	height: 2.83rem;
	border: solid #dcdcdc;
	border-width: 1px 0 1px;
	margin-top: .72rem;
}
nav li a {
	display: block;
	height: 2.83rem;
	line-height: 2.83rem;
	background: url(../img/left.png) no-repeat #fff 95% center;
	background-size: .43rem .76rem;
}
nav li img {
	display: block;
	float: left;
	width: 1.45rem;
	height: 1.45rem;
	margin: .69rem 0 0 1.7rem;
}
nav li .s-name {
	display: block;
	float: left;
	color: #242424;
	margin-left: .94rem;
}
.a-btn {
	display: block;
	width: 100%;
	height: 2.83rem;
	line-height: 2.83rem;
	background: #fff;
	border: solid #dcdcdc;
	border-width: 1px 0;
	color: #bcbcbc;
	margin-top: .72rem;
	text-align: center;
}
@media screen and (max-width:320px) {
	nav li a {
		line-height: 2.73rem;
	}
}
