/*轮播图片*/ /* x*13.6 = y*20 = y= x/1.47 */
.banner{ position:relative;width:100%;}
.banner .slider { z-index:1; display:block; margin:0 auto; overflow:hidden; position:relative; }
.banner .slider .sliderlist{ position:absolute; left:0; top:0px; }
.banner .slider .sliderlist li{ float:left; width:100%; display:block; text-align:center; }
.banner .slider .sliderlist li span{ margin:0 auto; display:inline-block; }
.banner .slider .sliderlist li img{ width:100%; }
.banner .slider #pagenavi{ position:absolute; left:0; bottom:.4rem; text-align:center; width:100%;}
.banner .slider #pagenavi a{display:inline-block; width:7.1%; height:0.2rem; margin:0 .13rem;  background:#fff;}
.banner .slider #pagenavi a.active{ background:#f77a02; }


/*头部header*/
.head-index{height:2.5rem;position:relative;line-height:2.5rem;background-color: #fff;font-size: 0;}
.head-index .a-img{position:absolute;padding:4px; border-radius:0.1rem; background-color: #fff;left:.5rem;top:-1.8rem;z-index: 22;}
.head-index .a-img img{width:3.3rem;height:3.3rem;vertical-align: middle;}
.head-index .contact{line-height: 2.5rem;height:2.5rem; position:absolute; right:0;padding-top:.5rem;box-sizing: border-box;}
.head-index .contact .things{display:inline-block;color:#999999; line-height:.72rem; margin-right:1.3rem; font-weight:400;text-align: center;}
.head-index .contact .things em{ color:#f77a02;}


@media screen and (max-width:320px){
    .banner .slider #pagenavi{bottom:.4rem;}
}


