/*分类*/
.stn-classification{ width:100%; overflow:hidden; }
.stn-border{ border-top:1px solid #dddddd; margin-top:.625rem;}
.stn-classification .type{ height:3.27rem; position:relative; width:100%;}
.stn-classification .type .type-border{width:96%; border-top:1px solid #dddddd; position:absolute; margin:3.7% 0.36rem 0;}
.stn-classification .type .type-box{ padding:0 .36rem; background:#fff; position:absolute; top:.8rem; color:#2f2f2f; line-height:1.52rem; left:8.43rem;}
.stn-classification .type .type-th{ display:inline-block; text-align:center; line-height:1.01rem; width:1.27rem; height:1.01rem; /*border-radius:6px;*/ background-color:#ff6633; color:#fff; margin-right:.36rem;}
.none-border{ border-top:0;}
.stn-classification .type-goods{ width:100%; height:auto; border-bottom:1px solid #ddd;}
.stn-classification .type-goods table{border-collapse: collapse;border-top:none;}
.stn-classification .type-goods tr{width:100%;}
.stn-classification .type-goods td{ /*border:1px solid #dddddd;*/ position:relative;width:33.3%;border:solid #ddd;border-width:1px 1px 0 0; }
/*.stn-classification .type-goods td.img1{width:33.2%;}*/
.stn-classification .type-goods td a{ display:block;width: 100%;height: 100%;}
.stn-classification .type-goods td img{ width:100%; }
.stn-classification .type-goods td span{ position:absolute; left:0; top:0; width:1.5rem; height:1.5rem;}
.stn-classification .type-goods td span img{ width:100%; height:100%; }

.goods-img{ width:100%; margin-top:.625rem;}
.goods-img a{ display:block; position: relative; overflow:hidden;width:100%; height:auto; cursor:pointer;}
.goods-img a img{ width:100%; height:100%;}

/*
@media screen and (min-width:321px) and (max-width:640px){
    .stn-classification .type .type-box{ left:6.1rem;}
	.stn-classification .type .type-th{ line-height:1.2rem;}

}
@media screen and (max-width:320px){

   .stn-classification .type .type-th{ line-height:1.2rem;width:1.5rem; height:1.25rem;}

}
*/