/*大图*/
.stn-lists{ width:91.875%; margin:0 auto; }
.stn-lists li{ position:relative; margin-bottom:1.09rem; }
.stn-lists li .s-img{ /*display:block;*/ border:1px solid #d9d9d9; overflow:hidden; vertical-align:middle; text-align:center; }
.stn-lists li .p-name{ color:#000; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; margin-top:.4rem; }
.stn-lists li .p-money{ color:#e52c02; margin-top:.2rem; }
.stn-lists li .p-money span{ color:#b9b9b9; margin-left:.5rem; }
.stn-lists li .a-cart{ display:block; width:1.52rem; height:1.23rem; position:absolute; right:0; bottom:0; }
.stn-lists li .a-cart img{ display:block; width:100%; height:100%; } 
.stn-lists button{ width:100%; height:2.72rem; line-height:2.72rem; text-align:center; background:#efefef; border:none; color:#8c8c8c; margin-bottom:.9rem; }

/*中图*/
.stn-thelists{ width:100%; margin-top: .72rem;}
.stn-thelists li{ float:left; width:47%; margin-left:2%; }
/*.stn-thelists .li-right{ float:right; margin-right:2%; }*/
/*.stn-thelists li .s-img img{max-width:300px;_width:expression(this.width > 300 ? "300px" : this.width); }*/
.stn-thelists button{ width:96%; margin-left:2%; }

.stn-thelists li a{display: block;width:100%;}
.stn-thelists li .img-box{position:relative;width:100%;padding-top:100%;/*根据原图高宽比*子宽度(单位必须%) 590/586 * 100%  */}
.stn-thelists li .img-box img{position:absolute;left:0;top:0;width:100%;}


/*页面转换*/
#stn-pageChange{display: none; position:fixed;top:0;left:0;width:100%;height:100%;z-index: 19999;background: url("../img/1x1white.jpg") repeat; }
#stn-pageChange .load{position:absolute;width:100%;height:100%;background:url("../img/loading.gif") no-repeat center center;background-size:50%;}

