@charset "utf-8";

.p-service{ border-top:1px solid #d9d9d9; background:#fff; position:relative; background:#fff; height:auto;}
.p-service .left-service{ width:4.4rem;padding-right:.5rem;  background:#fff; position:fixed; left:0; top:0;}
.p-service .left-service::-webkit-scrollbar{width:0px}
.p-service .left-service ul{ background:#f5f5f5;}
.p-service .left-service li{ border-bottom:1px solid #d9d9d9;padding:0.625rem 0 .625rem .45rem;background-color:#f5f5f5; }
.p-service .left-service li.hot a{ padding-left:.75rem; background:url(../img/hot.png) no-repeat left center; background-size:.5rem .6rem; }
.p-service .left-service li a{ display:block; color:#070707; line-height:.95rem; max-height:1.9rem; overflow:hidden;}
.p-service .left-service li:hover,.p-service .left-service li.act{ background-color:#fff;}

.p-service .right-service{ width:11.1rem; position:absolute; left:4.9rem; top:0; background:#fff;}
.p-service .right-service::-webkit-scrollbar{width:0px}
.p-service .right-service .pro{ margin-bottom:.5rem;}
.p-service .right-service .r-title{ color:#999; background:#f5f5f5; height:.7rem; line-height:.7rem; padding-left:.175rem; overflow:hidden; border-left:.05rem solid #d9d9d9}

.p-service .right-service li{ padding:.5rem 0; border-bottom:1px solid #d9d9d9;}
.p-service .right-service li.last{ border-bottom:none;}
.p-service .right-service li a.a-img{ display:block; float:left; width:3rem; height:3rem; margin-right:.425rem; overflow:hidden;}
.p-service .right-service li a.a-img img{ max-width:100%; width:auto;}
.p-service .right-service li .r-detail{ width:7.3rem; float:left; height:3rem; position:relative;}
.p-service .right-service li .r-detail .p-name{ color:#070707; line-height:0.9rem; height:.9rem; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; margin-bottom:.3rem;}
.p-service .right-service li .r-detail .p-num{ color:#999; height:.725rem; height:.725rem; margin-bottom:.275rem;}
.p-service .right-service li .r-detail .p-price{ color:#f2484c; height:.8rem; line-height:.8rem;}
.p-service .right-service li .r-detail .edit{ position:absolute; right:0; bottom:0;}
.p-service .right-service li .r-detail .edit a{ display:block; float:left; width:1.55rem; height:1.55rem; border-radius:50%; border:1px solid #a7a7a7; box-sizing:border-box;}
.p-service .right-service li .r-detail .edit span{ display:block; float:left; height:1.55rem; line-height:1.55rem; color:#070707; width:1.2rem; text-align:center; display:none;}
.p-service .right-service li .r-detail .edit a.red{ background:url(../img/red.png) no-repeat center; background-size:.6rem .075rem; display:none;}
.p-service .right-service li .r-detail .edit a.add{ background:url(../img/add.png) no-repeat center; background-size:.6rem .6rem;}


.fixed-bottom{ position:fixed; bottom:0; left:0; height:2.5rem; width:100%; display:none;}
.fixed-bottom .bot-bg{ position:absolute; height:2.5rem; width:100%; left:0; top:0; background:#000; opacity:0.7; filter:alpha(opacity:70);}
.fixed-bottom .bot-content{ position:absolute; height:1.675rem; width:100%; left:0; top:0; padding:0.425rem 0 .4rem; }
.fixed-bottom .bot-content .cart-info{ margin:0.15rem .55rem .175rem .8rem; border-right:1px solid #999999; height:1.35rem; width:1.75rem; float:left; position:relative;}
.fixed-bottom .bot-content .cart-info .cart{ display:block; text-indent:-9999px; width:.8rem; height:.825rem; background:url(../img/cart.png) no-repeat left bottom; background-size:.8rem .825rem; padding-top:.4rem;} 
.fixed-bottom .bot-content .cart-info .info{ width:.8rem; height:.8rem; position:absolute; top:.15rem; left:.575rem; background:#f2484c; text-align:center; line-height:.8rem; color:#fff; border-radius:50%;}
.fixed-bottom .bot-content .sum{ line-height:1.675rem; color:#fff; float:left;}
.fixed-bottom .bot-content .go-buy{ display:block; float:right; margin-right:.7rem; width:4.65rem; height:1.675rem; background:#3e9ef9; color:#fff; text-align:center; line-height:1.675rem; border-radius:.125rem;}