
/*搜索*/
.stn-search{padding: 3.8% 1.6% 0.47rem; background:#f3f4f6;}
.stn-search input{display: block;width: 100%;outline: none;border: none;color: #000;border-radius: .2rem;padding: .75rem 0 .75rem 20%;box-sizing: border-box;
background: url(../img/logo.png) no-repeat left center,
    url(../img/search.png) no-repeat 14% center;
    background-size: 11.8% 100%,4.2%;
background-color: #fff;
}

.stn-search input::placeholder{color: #c0c0c0;}
.stn-search input::-webkit-input-placeholder{color: #c0c0c0;}
