body{ background:#f7f5f5; }

.carlist{ margin-bottom:3.44rem; }
.carlist li{ border:solid #dcdcdc; border-width:1px 0; background:#fff; margin-top:.72rem; position:relative; width:94%; padding:0 3%; }
.carlist li .a-car{ display:block; float:left; width:100%; padding:.9rem 0; background:url(../img/left.png) no-repeat 98% center; background-size:.58rem 1.09rem; }
.carlist li .a-car .s-img{ display:block; float:left; width:3.19rem; height:3.19rem; margin-right:0.72rem; }
.carlist li .a-car .s-img img{ width:100%; height:100%; }
.carlist li .a-car .p-name{ color:#3e9ef9; margin-top:.4rem; }
.carlist li .a-car .p-name span{display: inline-block;background-color: #ef474b;border-radius:2px;color:#fff;padding:0.05rem .12rem;height:.9rem;line-height:.9rem;margin-left:.47rem;vertical-align:middle;margin-top:-.3rem;}
.carlist li .a-car .p-time{ color:#000; margin-top:.2rem; }
.carlist li .a-car .p-address{ color:#6a6a6a; margin-top:.9rem; }

.btn-car{ width:100%; background:#f7f5f5; height:3.44rem; margin-top:3rem; }
.btn-car a{ display:block; width:94%; height:2.4rem; line-height:2.4rem; text-align:center; color:#fff; background:#f15a0c; border-radius:4px; margin:0 auto; }
.btn-car .a-red{ background:#f2484c; }

@media screen and (max-width:320px){
	.carlist li input[type=checkbox]{ margin:2rem .72rem 0 0; }
	.carlist li .a-car .p-name{ margin-top:.2rem; }
	.carlist li .a-car .p-time{ margin-top:0; }
}