.stn-subdetailsbtn{ padding:1.16rem 3.205% 1.45rem; }
.stn-subdetailsbtn a{ display:block; float:left; width:46%; height:2.54rem; line-height:2.54rem; background:#f2484c; color:#fff; text-align:center; border-radius:6px; }
.stn-subdetailsbtn .a-last{ float:right; background:#3e9ef9;  }