/*轮播图片*/
.banner{ position:relative;width:100%;}
.banner .slider { z-index:1; display:block; margin:0 auto; overflow:hidden; position:relative; }
.banner .slider .sliderlist{ position:absolute; left:0; top:0px; }
.banner .slider .sliderlist li{ float:left; width:100%; display:block; text-align:center; }
.banner .slider .sliderlist li span{ margin:0 auto; display:inline-block; }
.banner .slider .sliderlist li img{ width:100%; }
.banner .slider #pagenavi{ position:absolute; left:0; bottom:.4rem; text-align:center; width:100%;}
.banner .slider #pagenavi a{display:inline-block; width:7.1%; height:0.2rem; margin:0 .13rem;  background:#fff;}
.banner .slider #pagenavi a.active{ background:#f54e1f; }


/*头部header*/
.head-index{height:3rem;position:relative;line-height: 3rem;background-color: #fff;}
.head-index .a-img{position:absolute;padding:3px;border-radius:100%;background-color: #fff;left:.65rem;top:-2.42rem;z-index: 22;}
.head-index .a-img img{width:4.6rem;height:4.6rem;}
.head-index .p-name{float:left;margin-left:5.8rem;color:#000;height:1.1rem;}
.head-index .contact{float:right;line-height: 2.9rem;height:2.9rem;}
.head-index .contact a{margin:0;padding:.2rem .9rem .2rem 2.2rem;border-left:1px solid #e1e1e1;background-repeat: no-repeat;background-position: .9rem center;background-size:1.1rem 1.1rem; }
.head-index .contact a:first-child{border-left:none;}
.head-index .contact .a-tel{background-image: url(../img/tel.png);}
.head-index .contact .a-address{background-image: url(../img/address.png);}


@media screen and (max-width:320px){
    .banner .slider #pagenavi{bottom:.6rem;}
}


