/*大图*/
.stn-lists{ width:91.875%; margin:0 auto; max-width:640px;}
.stn-lists li{ position:relative; margin-bottom:1.09rem; }
.stn-lists li .s-img{ display:table-cell; border:1px solid #d9d9d9; overflow:hidden; text-align:center; padding-top:100%;}
/*此法用于绝对定位元素的水平垂直居中*/
.stn-lists li .s-img img{position:absolute;top: 0;right: 0;bottom: 0;left: 0;margin:auto;min-width: 10px;min-height: 10px;}
.stn-lists li .p-name{ color:#000; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; margin-top:.4rem; }
.stn-lists li .p-money{ color:#e52c02; margin-top:.2rem; }
.stn-lists li .p-money span{ color:#b9b9b9; margin-left:.5rem; text-decoration:line-through; }
.stn-lists li .a-cart{ display:block; width:1.52rem; height:1.23rem; position:absolute; right:0; /*bottom:1.5rem;*/ top:0;margin-top:108%;}
.stn-lists li .a-cart img{ display:block; width:100%; height:100%; } 
.stn-lists button{ width:100%; height:2.72rem; line-height:2.72rem; text-align:center; background:#efefef; border:none; color:#8c8c8c; margin-bottom:.9rem; }
.stn-lists li .p-num{ color:#b9b9b9; padding-top:0.3rem; line-height:0.87rem;}
.stn-lists li .p-num span{ float:right;}


/*中图*/
.stn-thelists{ width:100%; }
.stn-thelists li{ float:left; width:47%; margin-left:2%; }
.stn-thelists .li-right{ float:right; margin-right:2%; }
.stn-thelists li .a-cart{margin-top:116%;}
/*.stn-thelists li .s-img img{max-width:300px;_width:expression(this.width > 300 ? "300px" : this.width); }*/
.stn-thelists button{ width:96%; margin-left:2%;}

.stn-lists li .pdl{ padding-top:.8rem;}

/*小图*/
.stn-smalllists{ width:100%; }
.stn-smalllists li{ width:94%; border-bottom:1px solid #d9d9d9; padding:.72rem 3%; margin-bottom:0;
}
.stn-smalllists li table{ float:left; margin-right:.65rem; }
.stn-smalllists li .s-img{ width:7.19rem;  }
.stn-smalllists li .p-name{height:3.48rem; white-space:inherit; text-overflow:inherit; }
/*.stn-smalllists li .p-money span{ display:block; margin-top:.9rem; }*/
.stn-smalllists li .a-cart{ right:.65rem; bottom:2.3rem;}
.stn-smalllists button{ width:94%; margin:.72rem 0 .9rem 3%; }


/*积分*/
.stn-lists li .integral{font-size:0;color:#e52c02; margin-top:.2rem;}
.stn-lists li .integral .p-money{display: inline-block;}
.stn-lists li .integral .p-plus{display:inline-block;vertical-align: .1rem;}
.stn-lists li .integral .p-integral{display:inline-block;color: #6633ff;}
.stn-lists li .integral .p-integral span{font-size: 0.7em;}
.stn-lists li .integral .p-sales{ color:#b9b9b9; margin-top:.3rem; }
