body{ background:#f7f5f5; }

/*未完成*/
.show-confirm{ width:90.6%; margin:1.09rem auto 0; position:relative; }
.show-confirm .stn-lists{ width:100%; background:#fff; border-radius:4px 4px 0 0; }
.show-confirm .stn-lists ul{ border:solid #eae8e8; border-width:1px 1px 0 1px; padding:0 2%; }
.show-confirm .stn-lists li{ border-bottom:1px solid #eae8e8; padding:.7rem .43rem; }
.show-confirm .stn-lists li:last-child{ border-bottom:none; }
.show-confirm .stn-lists li .s-img{ display:block; float:left; width:5.01rem; height:5.01rem; border:1px solid #f3f3f3; }
.show-confirm .stn-lists li .s-img img{ width:100%; height:100%; }
.show-confirm .stn-lists li .details{ width:6.25rem; float:left; margin-left:0.72rem; }
.show-confirm .stn-lists li .details .p-name{ height:2.54rem; color:#000; font-size:.71rem; line-height:1rem; /*text-overflow:ellipsis; overflow:hidden; white-space:nowrap; */}
.show-confirm .stn-lists li .details .p-money{ color:#e52c02; font-size:.85rem; margin-top:1.3rem; }
.show-confirm .stn-lists li .s-num{ display:block; float:right; color:#939292; font-size:0.74rem; margin-top:2.11rem; }
.show-confirm .confirm-seal{ width:100%; position:absolute; left:0; }
.show-confirm .confirm-seal img{ width:100%; height:100%; }

.show-confirm .stn-num{ border:solid #eae8e8; border-width:0 1px 1px; padding:0 2% 2.9rem; background:#fff; padding-top:1.09rem; border-radius:0 0 4px 4px; }
.show-confirm .stn-num p{ padding:0 .43rem; color:#000; }
.show-confirm .stn-num .s-img{ display:block; margin:1.45rem auto 0; width:10.1rem; border:1px solid #d4d1cd; }
.show-confirm .stn-num .s-img img{ width:100%; height:100%; }

/*已完成*/
.show-confirm .stn-numgrey p{ color:#939292; }
.show-confirm .stn-num .a-draw{ display:block; width:90%; height:2rem; line-height:2rem; background:#eb6326; color:#fff; margin:1rem auto 0; text-align:center; border-radius:5px; }

/*等待验证*/
.waiting-validation{ width:7.63rem; height:8.17rem; margin:2.97rem auto 0; }
.waiting-validation img{ width:100%; height:100%; }


@media screen and (min-width:640px){
	.show-confirm .stn-lists li .details{ width:10.25rem; }
}
@media screen and (max-width:320px){
	.show-confirm .stn-lists li{ padding:.87rem 0; }
	.show-confirm .stn-lists li .details{ width:9.25rem; }
	.show-confirm .stn-lists li .details .p-name{ font-size:.96rem; line-height:1.2rem; /*text-overflow:ellipsis; overflow:hidden; white-space:nowrap; */}
	.show-confirm .stn-lists li .details .p-money{ font-size:1.11rem; margin-top:1.00rem; }
	.show-confirm .stn-lists li .s-num{ font-size:0.96rem; margin-top:1.81rem; }
}