/*选择*/
.stn-lists{ background:#fff; }
.stn-lists .lists-region{ width:100%; height:1.725rem; border:solid #d9d9d9; border-width:1px 0; }
.stn-lists .lists-region a{ display:block; float:left; width:33.33%; text-align:center; border-right:1px solid #d9d9d9; box-sizing:border-box; }
.stn-lists .lists-region a:last-child{ border-right:none; }
.stn-lists .lists-region a span{ display:inline-block; background:url(../img/down.png) no-repeat right center; background-size:.35rem .2rem; padding-right:.725rem; line-height:1.725rem; color:#343434; }
.stn-lists .lists-region a .up{ background-image:url(../img/up.png); }
.stn-lists .lists-region a .down{ background-image:url(../img/down.png); }

.stn-lists .lists-region .last:after{ width: 0px;}

/*地区选择框*/
.box-region{ position:fixed; left:14.21875%; width:71.5625%; background:#fff; border-radius:7px; z-index:90; display:none; }
.box-region h1{ text-align:center; color:#6a6a6a; border-bottom:1px solid #e6e6e6; padding:.55rem 0; position:relative; }
.box-region .a-close{ display:block; background:url(../img/close.png) no-repeat; background-size:1rem .975rem; width:1rem; height:.975rem; position:absolute; top:.7rem; right:1.16rem; text-indent:-9999px; }
.box-region ul{ overflow-y:auto; }
.box-region li{ border-bottom:1px solid #e6e6e6; padding:.69rem 0; }
.box-region li input[type=checkbox]{ -webkit-appearance:none; appearance:none; width:20px; height:20px; margin:0 5% 0; cursor:pointer; vertical-align:bottom; background:none; border:1px solid #dbdada; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; position:relative; outline:none; float:left; }
.box-region li input[type=checkbox]:checked::before{ content:url(../img/selective.png); display:block; position:absolute; top:0px; left:0px; }
.box-region li span{ display:block; float:left; color:#6a6a6a; }
.box-region .btn{ padding:.5rem 0; }
.box-region .a-btn{ display:block; width:40%; height:1.25rem; line-height:1.25rem; text-align:center; background:#d21c26; color:#fff; border-radius:4px; margin:0 auto; }

#Background{ width:100%; height:100%; background:#000; opacity:0.5; position:fixed; left:0; top:0; display:none; z-index:89; }

/*列表*/
.stn-lists li{ padding:.625rem .5rem .75rem; border-bottom:1px solid #eae8e8; position:relative }
.stn-lists li .li-padding{ position:relative; }
.stn-lists li .a-img{ display:block; float:left; width:4.575rem; height:4.575rem; margin:0 .5rem 0 .25rem; border:1px solid #d9d9d9; position:relative;  overflow:hidden; vertical-align:middle; text-align:center;}

.stn-lists li .a-img .i-top{ display:block; width:1.4rem; height:.675rem; line-height:.675rem; text-align:center; color:#fff; background:#f2484c; border-radius:3px; position:absolute; top:.25rem; left:.25rem; }
.stn-lists li .a-name{ display:block; width:50%; color:#000; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; height:0.7rem; line-height:.7rem; padding-top:0.2rem; }
.stn-lists li .p-address{ color:#a6a6a6; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; margin-top:.35rem; }

.stn-lists li em{ display:block; width:3.6rem; height:.45rem; background:url(../img/high.png) no-repeat; background-size:3.6rem 4.25rem; overflow:hidden; text-indent:-9999px; margin-top:.5rem; }
.stn-lists li .e2{ background-position:0 -.975rem; }
.stn-lists li .e3{ background-position:0 -1.925rem; }
.stn-lists li .e4{ background-position:0 -2.875rem; }
.stn-lists li .e5{ background-position:0 -3.8rem; }



.stn-lists li .p-money{ color:#ff6766; margin-top:.2rem; }
.stn-lists li .p-science{ color:#676767; margin-top:.5rem; display:block; }
.stn-lists li .p-science span{ color:#f08f00; }

/*默认灰色图标*/
.stn-lists li .p-num{ display:block; float:right; background:url(../img/distance.png) no-repeat 0 center; background-size:.325rem .5rem; padding-left:.5rem; color:#a6a6a6; position:absolute; top:0; right:.36rem; }

/*红色图标*/
.stn-lists li .p-num-red{ display:block; float:right; background:url(../img/distance_r.png) no-repeat 0 center; background-size:.325rem .5rem; padding-left:.5rem; color:#a6a6a6; position:absolute; top:0; right:.36rem; }  


.stn-lists li .a-btn{ display:block; width:20%; height:1.5rem; line-height:1.5rem; text-align:center; color:#fff; background:#3e9ef9; border-radius:6px; position:absolute; bottom:0; right:1%; }

/*红色*/
.stn-listsred li em{ background-image:url(../img/highred.png); background-size:3.6rem 5.25rem; margin-top:.4rem; }
.stn-listsred li .e2{ background-position:0 -1.2rem; }
.stn-listsred li .e3{ background-position:0 -2.4rem; }
.stn-listsred li .e4{ background-position:0 -3.6rem; }
.stn-listsred li .e5{ background-position:0 -4.85rem; }
.stn-listsred li .a-btn{ background:#ff6766; }

/*
@media screen and (max-width:380px) and (min-width:320px){
	.stn-lists li .a-btn{ height:1.48rem; line-height:1.48rem; }
}

@media screen and (max-width:320px){
	.stn-lists li .p-name{ width:17.5rem; }
	.stn-lists li .p-address{ margin-top:.2rem; }
	.stn-lists li em{ margin-top:.3rem; }
	.stn-listsred li .e2{ background-position:0 -1.77rem; }
	.stn-listsred li .e3{ background-position:0 -3.52rem; }
	.stn-listsred li .e4{ background-position:0 -5.23rem; }
	.stn-listsred li .e5{ background-position:0 -6.98rem; }
	.stn-lists li .p-science{ margin-top:.25rem; }
	.stn-lists li .a-btn{ width:25%; height:2.14rem; line-height:2.14rem; }
	
	.box-region li input[type=checkbox]{ margin-top:0; }
	.box-region .a-btn{ height:2.18rem; line-height:2.18rem; }
}
*/