
/*产品列表-仅大图*/
.stn-lists-onlypic .pic-col-1 a{display:block;position: relative;margin:2.3% 2% 0;background-color: #fff;min-height:9.7rem;}
.stn-lists-onlypic .pic-col-1 a img{max-width: 100%;
    position: absolute;
    top:50%;left:50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
/*产品列表-仅大图-end*/
