/*店铺功能列表*/
.stn-lists{}
.stn-lists li{ border:solid #e9e9e9; border-width:1px 1px 0 0; width:50%; box-sizing:border-box; float:left; }
.stn-lists .li-right{ border-right-width:0; }
.stn-lists .li-bottom, .stn-lists .li-img{ border-bottom-width:1px; }
.stn-lists li a{ display:inline-block; background-size:1.74rem 1.74rem; padding:1.19rem 0 1.19rem 35%; background-position:12.5% 1.41rem; background-repeat:no-repeat;min-height:2.5rem}
.stn-lists li .a1{ background-image:url(../img/img1.jpg); }
.stn-lists li .a2{ background-image:url(../img/img2.jpg); }
.stn-lists li .a3{ background-image:url(../img/img3.jpg); }
.stn-lists li .a4{ background-image:url(../img/img4.jpg); }
.stn-lists li .a5{ background-image:url(../img/img5.jpg); }
.stn-lists li .a6{ background-image:url(../img/img6.jpg); }
.stn-lists li .a7{ background-image:url(../img/img7.jpg); }
.stn-lists li .a8{ background-image:url(../img/img8.jpg); }
.stn-lists li .a9{ background-image:url(../img/img9.jpg); }
.stn-lists li p{ color:#b0b0b0; }
.stn-lists li .a8{ background-image:url(../img/img2.jpg); }
.stn-lists li .p-name{ color:#242424; margin-bottom:.34rem; }
.stn-lists .li-img{ text-align:left; position:relative;}
.stn-lists li img{ display: inline-block;width:1.74rem; height:1.74rem; margin:.4rem 0 0 .6rem;}



@media screen and (max-width:320px){
	.stn-lists li a{ background-position:12.5% 1.81rem;min-height:3rem; }

}



