/*文章页*/
.art-article {
	width: 93.75%;
	margin: .72rem auto;
}
.art-article .title {
	padding-bottom: 1rem;
}
.art-article .title h1 {
	color: #000;
	margin-bottom: .2rem;
}
.art-article .title .p-time {
	color: #b0b0b0;
}
.art-article img {
	width: 100%;
	height: auto;
	border: 1px solid #d9d9d9;
}
.art-article .p1 {
	color: #4b4b4b;
	line-height: 1.3rem;
}
.art-article.text-indent,.art-article .text-indent{
    text-indent: .72rem;
}
