.resize-container {
    position: relative;
    display: inline-block;
    cursor: move;
    margin: 0 auto;
}

.resize-container img {
    display: block
}

.resize-container:hover img,
.resize-container:active img {
    outline: 2px dashed rgba(222,60,80,.9);
}


.overlay {
	position: absolute;
	left: 11.3%;
	top:6.7%;
	z-index: 999;
	width: 77.4%;
	height: 89.3%;
    border: solid 2px #CCC;
	box-sizing:border-box;
	pointer-events: none;
	z-index:9999;
}
.overlay-inner{
  position: relative;
  width: 100%;
  height: 100%;
  }
.bgshow{ position:absolute; background:#000; opacity:0.8; z-index:999;}
.bgleft{ left:0; top:0; width:11.7%; height:100%;} 
.bgright{ top:0; right:0; width:11.7%; height:100%;}
.bgtop{ top:0; left:11.3%; width:77.4%; height:6.7%;}
.bgbottom{ bottom:0; left:11.3%; width:77.4%; height:4.1%;}
 
.d-bg-bottom{
  position: absolute;bottom: 0;left: 0; width: 100%;height: 76%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.956) 0%, rgba(0, 0, 0, 0.917) 50%,rgba(0, 0, 0, 0.705) 70%,rgba(0, 0, 0, ) 100%);
  background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(rgba(0, 0, 0, 0.956)), color-stop(50%,rgba(0, 0, 0, 0.917)), color-stop(70%,rgba(0, 0, 0, 0.705)), to(rgba(0, 0, 0, 0)));}
 
.d-text{position: absolute;left: .5rem;bottom: .65rem;}
/*
.overlay:after,
.overlay:before {
	content: '';
	position: absolute;
	display: block;
	width: 204px;
	height: 40px;
    border-left: dashed 2px rgba(222,60,80,.9);
	border-right: dashed 2px rgba(222,60,80,.9);
}

.overlay:before {
	top: 0;
	margin-left: -2px;
	margin-top: -40px;
}

.overlay:after {
	bottom: 0;
	margin-left: -2px;
	margin-bottom: -40px;
}

.overlay-inner:after,
.overlay-inner:before {
	content: '';
	position: absolute;
	display: block;
	width: 40px;
	height: 204px;
    border-top: dashed 2px rgba(222,60,80,.9);
	border-bottom: dashed 2px rgba(222,60,80,.9);
}

.overlay-inner:before {
	left: 0;
	margin-left: -40px;
	margin-top: -2px;
}

.overlay-inner:after{
	right: 0;
	margin-right: -40px;
	margin-top: -2px;
}
*/
/*
.animate{ width:100%; height:100%;}

.resize-image{
	min-height:100%;
	min-width:100%;}
	*/
.btn-crop,.left {
	width:45%;
	float:left;
	height:100%;
	z-index: 999;
	background-color: rgb(222,60,80);
	border: none;
	border-radius: 5px;
	color: #FFF;
	font-size:.65rem;
	line-height:3;
	background: linear-gradient(to top, rgba(216, 60, 0, 0.929) 0%, rgba(232, 86, 0, 0.898) 68.9%,rgba(243, 105, 0, 0.843) 100%);
    background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(rgba(216, 60, 0, 0.929)), color-stop(68.9%,rgba(232, 86, 0, 0.898)), to(rgba(243, 105, 0, 0.843)));
}

.left{ margin:0 2% 0 3%}
.right{ margin:0 3% 0 2%}

.btn-crop img {
	vertical-align: middle;
	margin-left: 8px;
}

.btn{ width:100%; position:absolute; bottom:1rem;}