/*涓婁笅鍒囨崲*/
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background: #FFFFFF;
	font: 20px 'Open Sans', Helvetica, Arial, sans-serif;
	text-align: center;
}
p{ margin:0;}
.hide {
	display: none;
}

.show {
	display: block;
}

.pic_edit {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background:#000;
}

#clipArea {
	margin: 0 auto;
	height: 87.15%;
}

#clipBtn{
	margin-top: 25px;
	background: linear-gradient(to top, rgba(216, 60, 0, 0.929) 0%, rgba(232, 86, 0, 0.898) 68.9%,rgba(243, 105, 0, 0.843) 100%);
    background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(rgba(216, 60, 0, 0.929)), color-stop(68.9%,rgba(232, 86, 0, 0.898)), to(rgba(243, 105, 0, 0.843)));
	color: #ffffff;
	border-radius: 5px;
	width: 45%;
	border:none;
	line-height:3;
	font-size:.65rem;
	
}

#upload2{
	margin-top: 25px;
	background: linear-gradient(to top, rgba(216, 60, 0, 0.929) 0%, rgba(232, 86, 0, 0.898) 68.9%,rgba(243, 105, 0, 0.843) 100%);
    background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(rgba(216, 60, 0, 0.929)), color-stop(68.9%,rgba(232, 86, 0, 0.898)), to(rgba(243, 105, 0, 0.843)));
	color: #ffffff;
	border-radius: 5px;
	width: 45%;
	margin-left: 0;
	border:none;
	line-height:3;
	font-size:.65rem;
}

#hit {
	position: fixed;
	top: 19%;
	left: 9.375%;
	background: gainsboro;
}

.logo {
	position: absolute;
	bottom: 12%;
	z-index: 100;
	width: 46%;
	left: 27%;
}

.img-logo{position: absolute;  width: 98px;height: 40px; z-index:999; }

/*閫傚簲灏忓睆*/
@media screen and (max-height: 450px) {
	.show_labour .show_img {
		width: 75%;
		margin-top: 22%;
	}

	.show_labour .show5 {
		width: 80%;
		left: 10%;
		margin-top: 22%;
	}

	.show_labour .show5_btn {
		width: 62%;
	}

	#clipBtn, #upload2 {
		margin-top: 0px;
		padding: 5px 20px;
	}

}


.lazy_tip{
	position: absolute;
	margin-top: 35%;
	z-index: 1001;
	font-size: 25px;
	width: 100%;
	color: #ffffff;
	line-height: 30px;
}

.lazy_cover {
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1000;
	color: #ffffff;
	font-size: 25px;
	opacity: 0.7;
	position: fixed;
	top: 0;
	left: 0;
}
.d-bg-bottom{
  position: absolute;bottom: 0;left: 0; width: 77.4%;height: 60%;z-index:999;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.956) 0%, rgba(0, 0, 0, 0.917) 50%,rgba(0, 0, 0, 0.705) 70%,rgba(0, 0, 0, ) 100%);
  background: -webkit-gradient(linear, 0% 100%, 0% 0%, from(rgba(0, 0, 0, 0.956)), color-stop(50%,rgba(0, 0, 0, 0.917)), color-stop(70%,rgba(0, 0, 0, 0.705)), to(rgba(0, 0, 0, 0)));}