/*佣金管理*/
/*时间*/
.stn-commission{}
.stn-commission .commission-time{ padding:.54rem 3.75% .72rem; background:#f7f5f5; }
.stn-commission .commission-time ul{ margin:0 auto; border:1px solid #eae8e8; border-radius:6px; }
.stn-commission .commission-time li{ padding:0 3%; border-bottom:1px solid #d9d9d9; background:#fff; border-radius:6px 6px 0 0; }
.stn-commission .commission-time li:last-child{ border-bottom:none; border-radius:0 0 6px 6px; }
.stn-commission .commission-time li a{ display:block; background:url(../img/left.png) no-repeat right center; background-size:.58rem 1.09rem; padding:.9rem 0; padding-right:7%; }
.stn-commission .commission-time li a .p-name{ float:left; color:#000; }
.stn-commission .commission-time li a .p-time{ float:right; color:#3e9ef9; outline: none; border:0px; width: 100px; }

/*列表*/
.stn-commission .lists{ padding:0 3.75%; background:#fff; }
.stn-commission .lists li{ border-bottom:1px solid #e7e7e7; padding:1.09rem 3%; }
.stn-commission .lists li .li-left{ width:50%; float:left; }
.stn-commission .lists li .li-left p{ color:#000; }
.stn-commission .lists li .li-left .p-money{ margin-top:.3rem; }
.stn-commission .lists li .li-right{ width:50%; float:right; text-align:right; }
.stn-commission .lists li .li-right .p-num{ color:#f1590d; line-height:1.2rem; }
.stn-commission .lists li .li-right .p-time{ color:#c3c3c3; margin-top:.2rem; }