@charset "utf-8";
/* CSS Document */
.result{ width:100%; background:url(../img/nav.jpg) repeat-x bottom #0c6eb9; padding:.475rem 0 1.4rem; color:#fff;}
.result .p-name{ line-height:.925rem; padding-left:.9rem;}
.result .p-num{ padding-left:.9rem; line-height:2.975rem; padding-top:.625rem;}
.result ul{ padding-top:1.4rem;}
.result li{ width:33.33%; box-sizing:border-box; float:left; height:1.75rem; border-right:1px solid #86b7dc;}
.result li p{ padding-left:.725rem;}
.result li .p-small{ line-height:.575rem; padding-bottom:.45rem;}
.result li .p-big{ line-height:.725rem;}
.r-list{ margin-top:.85rem; margin-bottom:.625rem;}
.r-list li{ width:50%; float:left; padding:.85rem 0 .275rem;}
.r-list li p{ padding-left:.85rem; overflow:hidden;}
.r-list li .p-small{ color:#b5b5be; line-height:.75rem; height:.75rem;}
.r-list li .p-big{ color:#4c4c53; line-height:1.3rem;}

.p-text{ background:#fff; padding:.3rem .85rem;}
.p-text p{ line-height:1.375rem; color:#454545;}
.r-btn{ text-align:center; padding:.8rem 0;}
.r-btn a{ display:inline-block; width:42.3%; text-align:center; height:2rem; line-height:2rem; color:#fff; border-radius:5px;}
.r-btn .orange{ background:#ec7708;}
.r-btn .blue{ background:#0c6eb9;}