/*优惠券信息*/
.stn-CouponsInfo li {position: relative;margin: .72rem auto 0;width: 93.59%;border-top: 1px solid #d4d4d4;
    background-image:  url(../img/bottom-left2.png), url(../img/bottom-right.png), url(../img/icon4.jpg),url(../img/icon3.jpg);
    background-repeat: no-repeat,no-repeat,repeat-y,repeat-y;
    background-position: left bottom,right bottom,right,left;
    background-size: .12rem, .12rem, .12rem .47rem,.12rem .47rem ;
    background-color: #fff;
}
.stn-CouponsInfo li>a{display: block;margin:0 .12rem;border-bottom:.12rem solid #f77a02;}
.stn-CouponsInfo li .content-l{ width:30%; float:left; text-align:center;color:#f77a02; }
.stn-CouponsInfo li .content-l p{margin:1.1rem 0 0;}
.stn-CouponsInfo li .content-l span{vertical-align:.4rem; }
.stn-CouponsInfo li .content-r{float:left; margin:1.3rem 0;padding-left:5.2%; border-left:1px dashed #e7e7e7;min-height:4rem;}
.stn-CouponsInfo li .content-r p{ color:#444444;line-height: 1.5;}
.stn-CouponsInfo li .seal{ width:.87rem; height:6.6rem; position:absolute; left:40%; top:-1px; }
.stn-CouponsInfo li .seal img{ width:100%; height:100%; }
.stn-CouponsInfo li i{ display:inline-block; color:#fff; position:absolute; top:-1px; right:-1px; }
.stn-CouponsInfo li .i-blue{ background:#00a0f8; }
.stn-CouponsInfo li .i-green{ background:#9ce44c; }
.stn-CouponsInfo li .i-gray{ background:#a1a1a1; }

/*过期*/
.stn-CouponsInfo .li-overdue .content-l{ color:#cccccc; }
.stn-CouponsInfo .li-overdue .content-r p{ color:#cccccc; }
