/* CSS Document */

.c-head{ width:100%; height:7.26rem; background:url(../img/img1.png) no-repeat; position:relative;}
.c-head a{ display:block; width:100%; height:100%;}
.c-head .c-logo{ position:absolute; left:1.73rem; top:50%; margin-top:-2.34rem; height:4.68rem; width:4.68rem; border:2px solid #fff; border-radius:50%; box-sizing:border-box; text-align:center; box-shadow:0 0 0.5rem #ec7931; cursor:pointer;}
.c-head .c-logo img{ width:100%; height:100%;border-radius:50%;}
.c-head .c-title{ color:#fff; position:absolute; left:7.63rem; top:2.1rem;}
.c-head .c-cont{ color:#fff; position:absolute; left:7.63rem; top:3.8rem}

.c-img{ width:100%; }
.c-img span{display: block;}
.c-img img{ width:100%; }

@media screen and (min-width:321px) and (max-width:639px){
	.c-head{ height:6.26rem;}
	.c-head .c-logo{ margin-top:-2.09rem; height:4.18rem; width:4.18rem; border:2px solid #fff; border-radius:2.09rem;}
	.c-head .c-title{ top:2rem;left:7.13rem;}
    .c-head .c-cont{top:3.6rem;left:7.13rem; }
}
