body{ background:#f7f5f5; }

/*µ¼º½*/
nav{ width:94.53%; height:2.47rem; line-height:2.45rem; margin:.72rem auto 0; border:1px solid #d4d4d4; border-radius:.94rem; background:#fff; }
nav li{ width:20%; float:left; text-align:center; box-sizing:border-box; border-right:1px solid #d4d4d4; }
nav li:last-child{ border-right:none; }
nav li a{ display:block; height:2.47rem; color:#161616; }
nav li a.act{ background:#f15a0c; color:#fff; }
nav li:first-child a{ border-radius:.94rem 0 0 .94rem; }
nav li:last-child a{ border-radius:0 .94rem .94rem  0; }