.stn-mbemessage{ width:92.28%; margin:0 auto; }
.stn-mbemessage textarea{ width:93%; height:4.17rem; padding:.3rem 3%; border:1px solid #e7e7e7; border-radius:4px; background:#fff; resize:none; }
.stn-mbemessage textarea::-webkit-input-placeholder{ color:#d1d1d1; }