/*密码修改成功*/
.stn-success{ width:91%; margin:0 auto; background:#fff; box-shadow:0 0 8px #e9e9e9; position:relative; border-radius:50px 0 0 0; }
.stn-success .s-angle{ display:block; width:1.16rem; height:1.16rem; position:absolute; top:0; left:0; }
.stn-success .s-angle img{ width:100%; height:100%; display:block; }
.stn-success .success{ background:url(../img/bg.jpg) repeat-x 0 bottom #66c3ff; background-size:.65rem .29rem; }
.stn-success .success .s-img{ display:block; width:56%; height:auto; margin:0 auto; }
.stn-success .success .s-img img{ width:100%; height:auto; }
.stn-success .success p{ color:#fff; text-align:center; text-shadow:0 0 3px #4bafff; }
.stn-success .a-btn{ display:block; background:#66c3ff; color:#fff; border-radius:6px; width:85%; height:2.4rem; line-height:2.4rem; margin:0 auto; text-align:center; text-shadow:0 0 3px #4bafff; }