.stn-time{ border:solid #d9d9d9; border-width:1px 0; background:#fff; margin-top:.72rem; padding:0 3.205%; }
.stn-time a{ display:block; background:url(../img/left.png) no-repeat 95% center; background-size:.58rem 1.09rem; padding:.72rem 0 .72rem .36rem; color:#000; }
.stn-time span{ display:block; padding:.72rem 0 .72rem .36rem; color:#000; }