/*分佣信息*/

.stn-CommissionInfo .p-month{color:#fbf4e8;padding:3.5% 0 3.7%;background-color: #f77a02;text-align: center;}
.stn-CommissionInfo .p-month strong{font-size:178%;font-weight: normal;}
.stn-CommissionInfo .p-month span{display: inline-block;width:3.1%;background: url(../img/down.png) no-repeat left top;background-size: 100%;vertical-align:.2rem;height:.5rem;margin-left:4.5%; }

.stn-CommissionInfo ul{font-size:0/*去除inline-block的间距*/;background: #fff;border-width:0 0 1px;border-style:solid;border-color:#c5c5c5;background-color: #fff;}
.stn-CommissionInfo li{display:inline-block;width:50%;text-align: center;padding:4.5% 0 4.2%;}
.stn-CommissionInfo li a{display: block;}
.stn-CommissionInfo li .fz36{display: block;color:#f77a02;}
.stn-CommissionInfo li .fz28{display: block;color:#939292;padding-top:3.7%;}

.stn-CommissionInfo .p-prompt{color:#939292;line-height:1.8;}
