.stn-cartnull{ text-align:center; }
.stn-cartnull .s-img{ display:inline-block; width:27%;min-height:1px;   margin:5.88rem 3.5% 1.45rem;}
.stn-cartnull .s-img img{ width:100%;  }
.stn-cartnull p{ color:#adadad; }
.stn-cartnull p span{ display:block; margin-bottom:.2rem; }
.stn-cartnull .a-visit{ display:inline-block; width:9.88rem; height:2rem; line-height:2rem; background:#f15a0c; color:#fff; text-align:center; border-radius:5px; margin:1.45rem 0; }

@media screen and (max-width:320px){
/*	.stn-cartnull .s-img{ width:10.06rem; height:10.1rem; }*/
	.stn-cartnull .a-visit{ height:2.74rem; line-height:2.74rem; }
}
