/*搜索*/
.stn-search{ width:95.93%; position:fixed; top:0; left:0; border-bottom:1px solid #d4d4d4; padding:.54rem 2.035%; background:#f4f4f4; }
.stn-search input{ border:none; width:90%; height:2.18rem; line-height:2.18rem; background:url(../img/search.png) no-repeat 3% center #fff; background-size:1.09rem 1.09rem; padding-left:10%; border-radius:6px; }
.stn-search input::-webkit-input-placeholder{ color:#c5c5c5; }