body{ background:#f7f5f5; }
.product-details{ width:90.625%; margin:0 auto; padding:.9rem 0; }
.product-details .p-name{ color:#000; }
.product-details .p-money{ color:#939292; margin-top:.2rem; }
.product-details .p-money span{ color:#e52c02; }
.product-details .p-money em{ color:#e52c02; margin-left:.5rem; }
.product-details .p-market{ color:#939292; text-decoration:line-through; margin-top:.4rem; }
.product-details .p-prompt{ padding-top:.52rem; color:#464646; }
.product-details .p-prompt span{ color:#f54e1f; }
.product-details .details-num{ margin-top:.4rem; }
.product-details .details-num .number-name{ color:#939292; float:left; margin:.3rem .8rem 0 0; }
.product-details .number-input{ width:7.8125rem; height:1.63rem; float:left; }
.product-details .number-input a{ float:left; width:2.54rem; height:1.63rem; line-height:1.43rem; text-align:center; border:1px solid #dbdbdb; color:#686868; box-sizing:border-box; }
.product-details .number-input span{
	float:left;
	width:2.54rem;
	height:1.63rem;
	box-sizing:border-box;
	border-top: 1px solid #dbdbdb;
	border-bottom: 1px solid #dbdbdb;
}
.product-details .number-input input {
	float: left;
	border: none;
	background: #fff;
	border-radius: 0px;
	width: 2.54rem;
	height: 1.63rem;
	text-align: center;
}

@media screen and (max-width:320px){
/*	.product-details .details-num .number-name{ margin-top:.1rem; }*/
}
