/*会员头部*/
.stn-infohead{background-color: #f4f4f4;text-align: center;padding:6.2% 0 3%;}
.stn-infohead .p-title{color: #000;}
.stn-infohead .p-money{color: #ff3430;padding:5% 0 2%;}
.stn-infohead .p-des{color: #86898e;}
