/*服务方式*/
.stn-selective{ border:solid #d9d9d9; border-width:1px 0; background:#fff; margin-top:.72rem; padding:0 3.205%; }
.stn-selective h1{ color:#000; border-bottom:1px solid #d9d9d9; padding:.54rem 0 .54rem .36rem; }
.stn-selective li{border-bottom:1px solid #dddddd; padding:1rem 0; }
.stn-selective li:last-child{ border-bottom:none; }
.stn-selective li input[type=checkbox]{ -webkit-appearance:none; appearance:none; width:20px; height:20px; margin:.05rem .72rem 0 .36rem; cursor:pointer; vertical-align:bottom; background:none; border:1px solid #dbdada; -webkit-border-radius:50px; -moz-border-radius:50px; border-radius:50px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; position:relative; outline:none; float:left; }
.stn-selective li input[type=checkbox]:checked::before{ content:url(../img/selective.png); display:block; position:absolute; top:0px; left:0px; }
.stn-selective li .p-name{ float:left;color:#000; }
.stn-selective li .p-money{ float:right; color:#000; margin-right:.36rem; width:50%; text-align:right; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }


@media screen and (max-width:320px){
	.stn-selective li input[type=checkbox]{ margin-top:.1rem; }
}
