footer {
	width: 100%;
	height: 3.59rem;
	box-sizing: border-box;
	border-top: 1px solid #c6c6c6;
	position: fixed;
	bottom: 0;
	background: #f8f8f8;
    max-width: 640px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
footer li {
	width: 19.4%;
	float: left;
}
footer li a {
	display: block;
	height: 3.59rem;
	text-align: center;
}
footer li a .s-icon {
	display: inline-block;
	width: 1.63rem;
	height: 1.63rem;
	margin-top: .5rem;
	margin-bottom:.1rem;
}
footer li a .s-icon img {
	width: 100%;
	height: auto;
}
footer li a p{
	color:#999999;
}
footer li a p.p-footact{
	color:#f77a02;
}

footer .li-logo{
    width:22.3%;height: 3.59rem;position: relative;
}
footer .li-logo a{width:100%;height:auto;position: absolute;bottom:0;}
footer .li-logo a img{width:100%;vertical-align: bottom;}

@media screen and (min-width:321px) and (max-width:640px){
    footer li a .s-icon{margin-top:.6rem;}
}
