/*按钮*/
.stn-pricesbtn {
	width: 93.59%;
	background: #fff;
	padding: 0 3.205%;
	background: #f7f5f5;
	margin-top: 1rem;
}
.stn-pricesbtn a {
	display: inline-block;
	width: 100%;
	height: 2.7rem;
	line-height: 2.7rem;
	text-align: center;
	background: #f15a0c;
	color: #fff;
	border-radius: 6px;
	margin: 1.09rem 0 .72rem;
}