/*选择*/
.stn-lists{ background:#fff; margin-top:.9rem; }
.stn-lists .lists-region{ width:100%; height:2.5rem; border:solid #d9d9d9; border-width:1px 0; }
.stn-lists .lists-region a{ display:block; float:left; width:33.33%; text-align:center; border-right:1px solid #d9d9d9; box-sizing:border-box; }
.stn-lists .lists-region a:last-child{ border-right:none; }
.stn-lists .lists-region a span{ display:inline-block; background:url(../img/down.png) no-repeat right center; background-size:.5rem .29rem; padding-right:1.05rem; line-height:2.5rem; color:#343434; }

/*列表*/

.stn-lists li{ border-bottom:1px solid #dddddd; }
.stn-lists li a{ display:block; padding:1.09rem 0; }
.stn-lists li a .s-img{ float:left; display:block; width:6.64rem; height:6.64rem; border:1px solid #dadada; margin:0 .72rem; position:relative; overflow:hidden; vertical-align:middle; text-align:center; }
.stn-lists li a .e-top{ display:block; width:1.83rem; height:.88rem; line-height:.88rem; text-align:center; color:#fff; background:#f2484c; border-radius:3px; position:absolute; top:.36rem; left:.36rem; }
.stn-lists li a .content{ float:left; width:13.24rem; }
.stn-lists li a .content .name{ color:#000; margin-top:.1rem; }
/*默认灰色图标*/
.stn-lists li a .content .name .s-num{ display:block; float:right; background:url(../img/distance.png) no-repeat 0 center; background-size:.47rem .72rem; padding-left:.72rem; color:#a6a6a6; }
/*红色图标*/
.stn-lists li a .content .name .s-num-red{ display:block; float:right; background:url(../img/distance_r.png) no-repeat 0 center; background-size:.47rem .72rem; padding-left:.72rem; color:#a6a6a6; }
.stn-lists li a .content .p-address{ color:#a7a7a7; border-bottom:1px solid #dddddd; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; padding:.2rem 0 .4rem; }
.stn-lists li a .content .line1{ color:#f2484c; margin-top:.4rem; width:38%; float:left; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }
.stn-lists li a .content .line1 span{ display:block; width:5.23rem; height:.65rem; background:url(../img/high.png) no-repeat; background-size:5.23rem 6.17rem; overflow:hidden; text-indent:-9999px; margin-top:.5rem; }
.stn-lists li a .content .line1 .s2{ background-position:0 -1.4rem; }
.stn-lists li a .content .line1 .s3{ background-position:0 -2.8rem; }
.stn-lists li a .content .line1 .s4{ background-position:0 -4.17rem; }
.stn-lists li a .content .line1 .s5{ background-position:0 -5.53rem; }
.stn-lists li a .content .line2{ text-align:center; margin-top:.2rem; width:30%; float:left; }
.stn-lists li a .content .line2 .s-fold{ display:inline-block; border:1px solid #f2484c; border-radius:3px; color:#f2484c; padding:0 .3rem; }
.stn-lists li a .content .line2 .s-num{ display:block; color:#676767; margin-top:.3rem; }
.stn-lists li a .content .line2 .s-num em{ color:#f08f00; }
.stn-lists li a .content .line3{ margin-top:.4rem; width:32%; float:left; }
.stn-lists li a .content .line3 .s-money{ display:block; color:#f2484c; text-align:right; }
.stn-lists li a .content .line3 .s-num{ display:block; color:#b2b4af; text-decoration:line-through; text-align:right; margin-top:.2rem; }



@media screen and (min-width:320px){
	.stn-lists li a .content .name{ margin-top:.3rem; }
	.stn-lists li a .content .p-address{ padding:.2rem 0 .6rem; }
	.stn-lists li a .content .line1{ margin-top:.6rem; }
	.stn-lists li a .content .line1 span{ margin-top:.8rem; }
	.stn-lists li a .content .line2{ margin-top:.4rem; }
	.stn-lists li a .content .line2 .s-num{ margin-top:.6rem; }
	.stn-lists li a .content .line3{ margin-top:.6rem; }
	.stn-lists li a .content .line3 .s-num{ margin-top:.5rem; }
	
	
	
}

@media screen and (max-width:440px) and (min-width:320px){
	.stn-lists li a .content{ float:left; width:7.84rem; }
}

@media screen and (max-width:384px) and (min-width:321px){
	.stn-lists li a .s-img{ width:5.5rem; height:5.5rem;}
	.stn-lists li a .content{width:10.5rem; }
	.stn-lists li a .content .line1 span{ background-size:3.5rem 4.17rem; height:.65rem; margin-top:.75rem;}
	.stn-lists li a .content .line1 .s2{ background-position:0 -0.95rem; }
	.stn-lists li a .content .line1 .s3{ background-position:0 -1.85rem; }
	.stn-lists li a .content .line1 .s4{ background-position:0 -2.79rem; }
	.stn-lists li a .content .line1 .s5{ background-position:0 -3.65rem; }
	.stn-lists li a .content .name{ font-size:0.78rem;}
	.stn-lists li a .content .line1{ font-size:0.78rem;}
}

@media screen and (max-width:320px){
	.stn-lists li a .content{ width:14.24rem; }
	.stn-lists li a .content{ margin-top:-0.4rem;}

}