.stn-distribution{ width:93.75%; margin:.72rem auto 0; border:1px solid #eae8e8; border-radius:4px; background:#fff; box-sizing:border-box; padding:0 3.175%; }
.stn-distribution .p-way{ line-height:2.9rem; }
.stn-distribution .p-way a{ display:block; color:#000; background:url(../img/left.png) no-repeat right center; background-size:.43rem .76rem; }
.stn-distribution .p-way a span{ display:block; float:right; margin-right:5%; }