body {
    background: #f4f4f4;
}

/*头部*/
.header-member {
    position: relative;
}
.header-member .headbg {
  position: absolute;
    width: 100%;
  height:100%;
}
.header-member .headbg img {
  height:100%;
    width: 100%;
}
.header-member .head-pic {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 10;
    padding: 1.2rem 0;
}
.header-member .head-pic .a-pic {
    display: block;
    width: 21.875%;
    box-sizing: border-box;
    padding: 0.625%;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 10px #f66663;
    margin: 0 auto .7rem;
}
.header-member .head-pic .a-pic img {
    width: 100%;
    border-radius: 50%;
}
.header-member .head-pic p {
    color: #fff;
    line-height: 1.4;
}
.header-member .a-set {
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    margin: .61rem .84rem;
    width: 6.25%;
}
.header-member .a-set img {
    width: 100%;
}
/*头部--end*/

/*前往相应状态的订单*/
.stn-toOrder ul{font-size:0/*去除inline-block的间距*/;background: #fff;border-bottom:1px solid #c5c5c5;}
.stn-toOrder li{width:33.3%;display:inline-block ;position:relative;}
.stn-toOrder li .a-order{display: block;color:#454545;text-align: center;padding-bottom:.4rem;}
.stn-toOrder li .a-order .imgbox{margin-top:.6rem;position: relative;}
.stn-toOrder li .a-order .imgbox img{width:23.9%;display:block;margin:0 auto .35rem;}
.stn-toOrder li .a-order .imgbox span{position: absolute;width:.8rem;height:.8rem;line-height:.9rem;background-color: #f77a02;color: #fff;border-radius:50%;top:-.4rem;left:54%;}
/*前往相应状态的订单--end*/

/*设置和链接,包括 消息推送和二维码,钱包优惠券*/
.stn-SetAndLink{margin-top:.8rem;border-width:1px 0;border-style:solid;border-color:#c5c5c5;background-color: #fff;padding:0 3.4%;}
.stn-SetAndLink li{position:relative;border-top:1px solid #dedede;}
.stn-SetAndLink li .a-describe{display: block;padding:4.1% 0;}
.stn-SetAndLink li:first-child{border-top:0;}
.stn-SetAndLink li .a-describe img{width:6.7%;margin:0 4.5% 0 1.6%;}
.stn-SetAndLink li .a-describe .s-text{display: inline-block;color:#454545;padding-right:3.3%;}
/*.stn-SetAndLink li .a-describe .s-NewInfo{background: url(../img/NewInfo.png) no-repeat right .2rem;background-size: .53rem;}*/
.stn-SetAndLink li .a-describe .s-NewInfo::after{display: inline-block; content:".";text-indent: -9999px; width:.5rem;height:.5rem;background-color:#f77a02; border-radius:50%; vertical-align:text-top;margin-left:.1rem;}
.stn-SetAndLink li .a-describe .s-remark{float:right;margin-right:7.5%;color:#ff5d50;padding-top:.2rem;}
.stn-SetAndLink li .a-btn{position:absolute;padding:2.5% 1.6%;;width:18.1%;right:0;top:0;}
.stn-SetAndLink li .a-LinkTo{position:absolute;width:3%;right:0;top:0;padding:4% 1.6% 2.5%;}
.stn-SetAndLink li .a-btn img,.stn-SetAndLink li .a-LinkTo img{width:100%;}

/*设置和链接--end*/


/*统计数据,包括 指尖管家,分销商推广渠道*/
.stn-StatisticsData {position:relative;}
.stn-StatisticsData .a-update{position:absolute; right: 3.4%;top:-.1rem;padding:.15rem .3rem .2rem;background-color:#339900; border-radius: .3rem;color:#fff; }
.stn-StatisticsData .p-title{color:#86898e;margin:4.2% 0 3% 5%;}
.stn-StatisticsData ul{font-size:0/*去除inline-block的间距*/;background: #fff;border-width:1px 0;border-style:solid;border-color:#c5c5c5;background-color: #fff;}
.stn-StatisticsData li{display:inline-block;width:33.3%;text-align: center;padding:4.1% 0 3.7%;}
.stn-StatisticsData li a{display: block;}
.stn-StatisticsData li .fz32{display: block;color:#454545;/*font-weight: bold;*/}
.stn-StatisticsData li .fz24{display: block;color:#aaaaaa;padding-top:3.7%;}
/*统计数据--end*/


@media screen and (max-width:320px){
    .stn-toOrder li .a-order .imgbox span{width:1rem;height:1rem;line-height:1rem;}
}
