/*CPA/CPS切换*/
.stn-switch{ width:100%; height:3.7rem; border-bottom:1px solid #d4d4d4; background:#fff; position:fixed; top:0; left:0; z-index:10; }
.stn-switch ul{ width:78%; margin:.61rem auto 0; }
.stn-switch li{ width:50%; height:2.47rem; float:left; }
.stn-switch li a{ display:block; height:2.32remn; line-height:2.32rem; text-align:center; border:1px solid #ff6766; border-radius:6px 0 0 6px; color:#ff6766; }
.stn-switch li:last-child a{ border-width:1px 1px 1px 0; border-radius:0 6px 6px 0; }
.stn-switch li a.act{ background:#ff6766; color:#fff; }

/*空白组件*/
.stn-blank {height:3.7rem;}
