html{height:100%;}
body{position:relative; min-height: 100%;}

/*余额提现-提现页面*/
	/* 银行选择 */
.withdraw-bank:before{content: "."; clear:both; display:block; font-size:0; height:0; line-height:0; overflow:hidden;}
.withdraw-bank .ul-bank li{background-color: #fff;padding:1.1rem 8.4% 1.1rem 5.7%;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;margin-top:.95rem;}
.withdraw-bank .ul-bank li .img-bank{float:left;width:2.57rem;height:2.57rem;}
.withdraw-bank .ul-bank li .bankinfo{float:left;margin-left:4.6%;}
.withdraw-bank .ul-bank li .bankinfo .p-bankname{color:#000;}
.withdraw-bank .ul-bank li .bankinfo .p-card{color:#676767;}
.withdraw-bank .ul-bank li .img-choose{float:right;width:.58rem;height:1.1rem;margin-top:.75rem; }

	/* 提现金额 */
.withdraw-bank .stn-money{text-indent:1.9rem; }
.withdraw-bank .stn-money .p-userlimit{height:2.42rem;line-height: 2.42rem;color:#676767;}
.withdraw-bank .stn-money .p-userlimit span{color:#ff3333;padding-left:1.21rem;}
.withdraw-bank .stn-money .p-money{height:3rem;line-height: 2.8rem;border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;background-color: #fff;color:#000000;}
.withdraw-bank .stn-money .p-money input{border:none;text-indent:5%;}
.withdraw-bank .stn-money .p-publiclimit{padding-top: .73rem;color:#676767;}
/*余额提现-提现页面--end*/

/* 底部按钮 */
        /*.stn-footback 高度约等于底部按钮的height+2rem*/
.stn-footback{height:4.8rem;}
.withdraw-bank .a-withdraw{ display:block; width:90%; height:2.8rem; line-height:2.8rem; color:#fff; border-radius:6px; text-align:center; position:fixed; bottom:1.09rem; left:5%;}

.a-bgorange{background-color:#fd7d09;}
.a-bgblue{background-color:#3e9ef9;}






/*弹出等待框*/
.showbox{ width:15.27rem; background:#fff; border-radius:0.29rem; text-align:center; height:14.5rem; z-index:9; position:relative; display:none; margin:0 auto;}
.showbox span{ display:block; width:9.08rem; height:9.74rem; margin:0 auto; padding-top:1.09rem;}
.showbox span img{ width:100%; height:100%;}
.showbox p{ color:#555555; margin-bottom:0.72rem; padding:1.09rem 0;}
.showbox a{ display:block; width:1.34rem; height:1.34rem; position:absolute; top:0.94rem; right:0.94rem; cursor:pointer;}
.showbox a img{ width:100%; height:100%;}




#Background {width: 100%;
	height: 100%;
	z-index: 8;
	background: #000;
	position: fixed;
	top: 0px;
	left: 0px;
	opacity: 0.8;
	display: none;}





@media screen and (min-width:321px) and (max-width:639px){
    
    .stn-footback{height:4rem;}
    .withdraw-bank .a-withdraw{height:2.16rem; line-height:2.16rem;}
    
    
    .withdraw-bank .ul-bank li{padding-top:.84rem;padding-bottom:.84rem;}
    .withdraw-bank .ul-bank li .img-bank{width:1.96rem;height:1.96rem;}
    .withdraw-bank .ul-bank li .img-choose{width:.44rem;height:.84rem;}
    
    .withdraw-bank .stn-money .p-userlimit{height:1.85rem;line-height: 1.85rem;}
    .withdraw-bank .stn-money .p-money{height:2.24rem;line-height: 2.24rem;}
    .withdraw-bank .stn-money .p-money input{line-height:105%;}

}

@media screen and (max-width:320px){
	.showbox{ width:20rem; height:15rem;  margin:-2rem auto;}
}



