/*轮播图片*/
.banner{ position:relative;width:100%;}
.banner .slider { z-index:1; display:block; margin:0 auto; overflow:hidden; position:relative; }
.banner .slider .sliderlist{ position:absolute; left:0; top:0px; }
.banner .slider .sliderlist li{ float:left; width:100%; display:block; text-align:center; }
.banner .slider .sliderlist li span{ margin:0 auto; display:inline-block; }
.banner .slider .sliderlist li img{ width:100%; }
.banner .slider #pagenavi{ position:absolute; left:0; bottom:.4rem; text-align:center; width:100%;}
.banner .slider #pagenavi a{display:inline-block; width:7.1%; height:0.2rem; margin:0 .13rem;  background:#fff;}
.banner .slider #pagenavi a.active{ background:#f77a02; }


@media screen and (max-width:320px){
    .banner .slider #pagenavi{bottom:.6rem;}
}


