.stn-time{ background:#fff351; padding:.79rem 0 1.34rem; text-align:center; }
.stn-time .p-name{ color:#2f2f2f; padding-bottom:.79rem; }
.stn-time span{ display:inline-block; margin-right:1px; }
.stn-time .s-time{ background:url(../img/time.png) no-repeat; background-size:1.46rem 2.55rem; width:1.46rem; height:2.55rem; line-height:2.55rem; color:#fff; }
.stn-time .s-icon{ width:.52rem; height:2.1rem; }
.stn-time .s-icon img{ width:100%; height:100%; display:table-cell; margin-top:.6rem; }

@media screen and (max-width:380px) and (min-width:320px){
	.stn-time .s-time{ background-size:1.11rem 2.2rem; width:1.11rem; height:2.2rem; line-height:2.2rem; }
}
@media screen and (max-width:320px){
	.stn-time .s-time{ background-size:1.51rem 2.6rem; width:1.51rem; height:2.6rem; line-height:2.6rem; }
	.stn-time .s-icon{ width:.72rem; height:2.3rem; }
	.stn-time .s-icon img{ margin-top:.6rem; }
}





