/*--------------------------------------------------------------砍价二级页--------------------------------------------------------------*/
.stn-time{ background:#fff351; padding:.79rem 0 1.34rem; text-align:center; }
.stn-time .p-name{ color:#2f2f2f; padding-bottom:.79rem; }
.stn-time span{ display:inline-block; margin-right:1px; }
.stn-time .s-time{ background:url(../img/time.png) no-repeat; background-size:1.46rem 2.55rem; width:1.46rem; height:2.55rem; line-height:2.55rem; color:#fff; }
.stn-time .s-icon{ width:.52rem; height:2.1rem; }
.stn-time .s-icon img{ width:100%; height:100%; display:table-cell; margin-top:.6rem; }

@media screen and (max-width:380px) and (min-width:320px){
	.stn-time .s-time{ background-size:1.11rem 2.2rem; width:1.11rem; height:2.2rem; line-height:2.2rem; }
}
@media screen and (max-width:320px){
	.stn-time .s-time{ background-size:1.51rem 2.6rem; width:1.51rem; height:2.6rem; line-height:2.6rem; }
	.stn-time .s-icon{ width:.72rem; height:2.3rem; }
	.stn-time .s-icon img{ margin-top:.6rem; }
}

.stn-course{ background:#eb1305; padding:1.38rem 0; }
.stn-course .a-course{ display:block; width:70%; height:2.53rem; line-height:2.53rem; margin:0 auto; background:-moz-linear-gradient(top, #fff897, #fff44e); background:-webkit-gradient(linear, left top, left bottom, color-stop(0,#fff897),color-stop(1,#fff44e)); border-radius:8px; border:1px solid #ccc334; text-align:center; color:#cf2d22; }
.stn-course .a-course:after{ border-radius: 13px !important;}
.stn-course .s-icon{ display:block; width:.87rem; height:.9rem; margin:.72rem auto; }
.stn-course .s-icon img{ width:100%; height:auto; }

.price{ background:#bc0b00; height:3.77rem; line-height:3.77rem; text-align:center; color:#fff; }
.stn-help{ background:url(../img/waves.jpg) repeat-x 0 bottom #eb1305; padding:1.52rem 0 1.92rem; }
.stn-help a{ display:block; width:58.125%; height:2.25rem; line-height:2.25rem; margin:0 auto; text-align:center; border:2px solid #fff; border-radius:30px; color:#fff; }

.stn-outburst{ background:#fff351; padding:1.81rem 0 2.61rem; }
.stn-outburst .s-img{ display:block; width:80%; margin:0 auto; }
.stn-outburst .s-img img{ width:100%; height:auto; }
.stn-outburst .p-money{ text-align:center; color:#eb1305; font-weight:bold; margin-bottom:.8rem; }
.stn-outburst .btn{ text-align:center; }
.stn-outburst .btn a{ display:inline-block; width:39.84%; height:2.32rem; line-height:2.32rem; text-align:center; background:#eb1305; color:#fff351; border-radius:6px; }
.stn-outburst .btn a:first-child{ margin-right:3.1%; }
.stn-outburst .btn p{ text-align:center; color:#eb1305; margin-top:.72rem; }

/*--------------------------------------------------------------砍价二级页-成功--------------------------------------------------------------*/
.stn-succeed{ background:#bc0b00; padding-top:1.81rem; }
.stn-succeed p{ color:#fff; text-align:center; }
.stn-succeed .p-name{ margin-bottom:.65rem; }
.stn-succeed .btn{ text-align:center; padding:.9rem 0 1.58rem; }
.stn-succeed .btn a{ display:inline-block; width:39.84%; height:2.02rem; line-height:2.02rem; text-align:center; background:#eb1305; color:#fff; border-radius:6px; }
.stn-succeed .btn p{ padding-top:.98rem; }

/*--------------------------------------------------------------砍价二级页--------------------------------------------------------------*/
.stn-information{ background:url(../img/top.jpg) repeat-x 0 top #fffddc; background-size:.79rem .65rem; margin-top:5.05rem; padding:3.55rem 0 .3rem; }
.stn-information h1{ border-bottom:1px solid #eacb95; color:#782d00; width:78.125%; margin:0 auto; text-align:center; padding-bottom:.5rem; margin-bottom:.5rem; }
.stn-information h1:after{ background: #eacb95 !important;}
.stn-information p{ text-align:center; }
.stn-information .s-num{ color:#782d00; margin-top:.3rem; text-align:left; }
.stn-information .s-num span{ color:#eb1305; }
.portrait{ width:6.54rem; height:6.54rem; position:absolute; top:1.52rem; left:50%; margin-left:-3.27rem; border-radius:50%; box-shadow:0 0 5px #9b9999; }
.portrait span{ display:block; width:94%; padding:3%; box-sizing:content-box; border-radius:50%; background:#fff; }
.portrait span img{ width:100%; height:auto; border-radius:50%; }
.stn-lists{ padding-top:2.25rem; background:url(../img/bottom.jpg) repeat-x 0 top; background-size:.79rem .65rem; }
.stn-lists h1{ width:89.53%; margin:0 auto; }
.stn-lists h1 img{ width:100%; height:auto; }
.stn-lists li{ padding:1.09rem 5.235%; border-bottom:1px solid #c30f04; }
.stn-lists li:after{ background: #c30f04 !important;}
.stn-lists li .li-left{ width:16.92%; float:left; border-radius:50%; margin-right:3%; }
.stn-lists li .li-left img{ width:100%; height:auto; border-radius:50%; }
.stn-lists li .li-right{ float:left; width:80.08%; }
.stn-lists li .li-right .left{ float:left; }
.stn-lists li .li-right .p-name{ color:#fff; margin:.8rem 0 .2rem; }
.stn-lists li .li-right .p-time{ color:#ebb205; }
.stn-lists li .li-right .p-money{ color:#fff; float:right; margin-top:1.1rem; }

@media screen and (max-width:320px){
	.stn-lists li .li-right .p-name{ margin-top:.5rem; }
}

/*--------------------------------------------------------------砍价首页--------------------------------------------------------------*/
.advertising{ width:100%; }
.advertising img{ width:100%; height:auto; }
.stn-synopsis{ width:93.75%; position:relative; margin:0 auto; padding-top:1.38rem; }
.stn-synopsis .title{ width:81%; height:2.14rem; position:absolute; top:1.01rem; left:9.5%; }
.stn-synopsis .title-l,.stn-synopsis .title-r{ float:left; background:url(../img/tutlel.jpg) no-repeat; background-size:.9rem 2.14rem; width:.9rem; height:2.14rem; }
.stn-synopsis .title-r{ background-image:url(../img/titler.jpg); }
.stn-synopsis .title-m{ width:85%; height:2.14rem; line-height:2.14rem; background:#efe939; color:#cf2d22; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; text-align:center; float:left; }
.stn-synopsis .content{ width:88.76%; background:#ff483a; border-radius:10px; padding:2.54rem 5.62% .9rem; color:#fff; line-height:1.2rem; text-indent:28px; }

.stn-activity h1{ width:84.53%; margin:1.56rem auto 1.25rem; }
.stn-activity h1 img{ width:100%; height:auto; }
.stn-activity .content{ padding:0 5% 1rem; }
.stn-activity .content p{ color:#fff; margin-bottom:.3rem; }

.stn-activlists{ background:#fff; border-radius:10px; width:93.75%; margin:0 auto; }
.stn-activlists li{ border-bottom:1px solid #d9d9d9; }
.stn-activlists li:last-child{ border-bottom:none; }
.stn-activlists li .name{ height:3.43rem; line-height:3.43rem; padding:0 5%; }
.stn-activlists li a{ display:block; float:left; background:url(../img/right.png) no-repeat right center; background-size:1.09rem 1.09rem; width:87%; color:#242424; }
.stn-activlists li input[type=checkbox]{ -webkit-appearance:none; appearance:none; width:20px; height:20px; margin:1.3rem 3% 0 0; cursor:pointer; vertical-align:bottom; background:none; border:1px solid #dbdada; -webkit-border-radius:50px; -moz-border-radius:50px; border-radius:50px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; position:relative; outline:none; float:left; }
.stn-activlists li input[type=checkbox]:checked::after{ content:url(../img/selective.png); display:block; position:absolute; top:-1px; left:-1px; }
.stn-activlists li .con{ border-top:1px solid #d9d9d9; padding:.7rem 5%; background:#f2f2f2; display:none; }
.stn-activlists li:last-child .con{ border-radius:0 0 10px 10px; }
.stn-activlists li .con .p1{ color:#242424; line-height:1.2rem; }
.stn-activlists li .con .p2{ color:#242424; line-height:1.2rem; text-indent:28px; }
.activlists-btn .a-btn{ display:block; width:88.43%; height:2.5rem; line-height:2.5rem; text-align:center; margin:1.27rem auto 1.78rem; background:#efe939; color:#cf2d22; border-radius:6px; }

@media screen and (max-width:640px){
	.stn-activlists li input[type=checkbox]{ margin-top:1.1rem; }
}
@media screen and (max-width:320px){
	.stn-activlists li input[type=checkbox]{ margin-top:.9rem; }
}

.box-write{ width:84.37%; background:#fff; position:fixed; left:7.81%; border-radius:10px; z-index:10; display:none; }
.box-write h1{ padding-left:4%; position:relative; background:url(../img/name.jpg) no-repeat left 4px; background-size:.25rem 1.01rem; margin:1.09rem 5%; }
.box-write h1 p{ color:#989898; margin-top:.1rem; }
.box-write h1 .a-close{ display:block; background:url(../img/close.png) no-repeat; background-size:1.23rem 1.23rem; width:1.23rem; height:1.23rem; font-size:0; line-height:0; text-indent:-9999px; position:absolute; top:0; right:0; }
.box-write input{ display:block; width:82.88%; height:2.3rem; line-height:2.3rem; margin:0 auto .72rem; padding:0 3%; border:1px solid #cccccc; color:#000; border-radius:6px; }
.box-write input::-webkit-input-placeholder{ color:#cccccc; }
.box-write .a-btn{ display:block; width:83.33%; height:2.4rem; line-height:2.4rem; text-align:center; margin:.21rem auto .9rem; background:#eb1305; color:#fff; border-radius:6px; }

#Background {
	width: 100%;
	height: 100%;
	z-index: 8;
	background: #000;
	position: fixed;
	top: 0px;
	left: 0px;
	opacity: 0.5;
	display: none;
}











