.box-cart{ position:fixed; right:5%; bottom:14%; z-index:900; }
.box-cart .boxcart-btn{ display:block; width:2.68rem; height:2.68rem; position:absolute; z-index: 901;top:.55rem; right:.55rem;}
.box-cart .boxcart-btn img{ width:100%; height:100%; }
.box-cart .boxcart-nav{ width:3.74rem; /*width:10.24rem;*/ height:3.74rem; border:1px solid #e1e1e1; background:#fff; border-radius:2rem; /*border-radius:100%;*/ }
.box-cart .boxcart-nav a{ display:none; width:2.89rem; height:2.76rem; text-align:center; }
.box-cart .boxcart-nav .btn{ margin:.63rem 0 0 .92rem; }
.box-cart .boxcart-nav a .s-img{ display:inline-block; width:1.92rem; height:1.59rem; }
.box-cart .boxcart-nav a .s-img img{ width:100%; height:100%; }
.box-cart .boxcart-nav a p{ color:#979797; }

