.cart-preferential{ width:93.75%; margin:0 auto; border:1px solid #eae8e8; border-radius:4px; background:#fff; box-sizing:border-box; }
.cart-preferential h1{ color:#161616; padding:.54rem 0; border-bottom:1px solid #eae8e8; margin:0 .72rem; }
.cart-preferential input[type=checkbox]{ -webkit-appearance:none; appearance:none; width:20px; height:20px; margin:1.88rem .72rem 0 0; cursor:pointer; vertical-align:bottom; background:none; border:1px solid #dbdada; -webkit-border-radius:7px; -moz-border-radius:7px; border-radius:7px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; position:relative; outline:none; float:left; }
.cart-preferential input[type=checkbox]:checked::after{ content:url(../img/checkmark.png); display:block; position:absolute; top:-2px; left:-2px; }
.cart-preferential .choose-all{ margin:.72rem 0 .72rem .72rem; }
.cart-preferential .choose-all .checkbox-all{ margin:0 .54rem 0 0; }
.cart-preferential .choose-all span{ float:left; margin-top:.1rem; color:#000; }
.cart-preferential li{ border-bottom:1px solid #eae8e8; padding:.87rem 0; position:relative; margin:0 .72rem; }
.cart-preferential .li-last{ border-bottom:none; }
.cart-preferential li .choose-product{ display:block; float:left; width:13.47rem; overflow:hidden; }
.cart-preferential li .s-img{ display:block; float:left; width:5.01rem; height:5.01rem; border:1px solid #f3f3f3; box-sizing:border-box; margin-right:.72rem; }
.cart-preferential li .s-img img{ width:100%; height:100%; }
.cart-preferential li .p-name{ width:6.13rem; height:3.63rem; color:#000; overflow:hidden; float:left; }
.cart-preferential li .p-money{ color:#e52c02; }
.cart-preferential li .p-money span{ color:#939292; text-decoration:line-through; margin-right:.3rem; }
.cart-preferential li .p-money em{ color:#939292; float:right; margin-top:.1rem; }
.p-preferential{ width:93.75%; color:#e52c02; margin:.72rem auto; text-align:right; }

@media screen and (min-width:640px){
	.cart-preferential li .choose-product{ width:17.67rem; }
	.cart-preferential li .p-name{ width:10.63rem; }
	.cart-preferential input[type=checkbox]:checked::after{ top:-1px; left:-1px; }
}
@media screen and (min-width:320px){
	.cart-preferential input[type=checkbox]{ margin:2.08rem .6rem 0 0; }
}
@media screen and (max-width:320px){
	.cart-preferential input[type=checkbox]{ width:20px; height:20px; border-radius:7px; margin:1.78rem .6rem 0 0; }
	.cart-preferential input[type=checkbox]:checked::after{ content:url(../img/checkmark.png); }
	.cart-preferential li .choose-product{ width:17.97rem; }
	.cart-preferential li .p-name{ width:8.63rem; }
	.cart-preferential .choose-all span{ margin-top:.1rem; }
}

@media screen and (max-width:360px){
	.cart-preferential li .p-money{ font-size:.85rem;}
	.cart-preferential li .p-money span{font-size:.60rem;  }
	.cart-preferential li .p-money em{font-size:.60rem;}
	
}