/*订单列表*/
.stn-order{ width:93.28%; padding:0 3.36%; }
.art-order{ width:94%; padding:0 3%; border:1px solid #eae8e8; background:#fff; border-radius:4px; margin-top:0.72rem; }
.art-order .state{ border-bottom:1px solid #eae8e8; font-size:.73rem; padding:.54rem 0; color:#161616; }
.art-order .state span{ display:block; float:left; }
.art-order .state .s-state{ float:right; color:#00a0f8; font-size:.7rem; margin-top:0; }
.art-order li{ border-bottom:1px solid #eae8e8; padding:.7rem 0; }
.art-order li .s-img{ display:block; float:left; width:5.01rem; height:5.01rem; border:1px solid #f3f3f3; }
.art-order li .s-img img{ width:100%; height:100%; }
.art-order li .details{ width:6.25rem; float:left; margin-left:0.72rem; }
.art-order li .details .p-name{ height:2.54rem; color:#000; font-size:.71rem; line-height:1rem; /*text-overflow:ellipsis; overflow:hidden; white-space:nowrap; */}
.art-order li .details .p-money{ color:#e52c02; font-size:.85rem; margin-top:1.30rem; }
.art-order li .s-num{ display:block; float:right; color:#939292; font-size:0.74rem; margin-top:2.11rem; }
.art-order .product-num{ border-bottom:1px solid #eae8e8; color:#161616; padding:0.58rem 0; text-align:center; font-size:.71rem; }
.art-order .product-num span{ color:#ff4949; }
.art-order .product-num em{ color:#e52c02; font-size:.76rem; }
.art-order .product-btn{ padding:10px 0; text-align:right; }
.art-order .product-btn a{ display:inline-block; color:#fff; width:4.54rem; height:1.51rem; line-height:1.51rem; font-size:.71rem; text-align:center; border-radius:4px; margin-left:.43rem; border:1px solid; }
.art-order .product-btn a.a-green{ background:#48b574; border-color:#48b574; }
.art-order .product-btn a.a-orange{ background:#f15a0c; border-color:#f15a0c; }
.art-order .product-btn a.a-null{ border-color:#939292; color:#939292; background:none; }

/*取消订单*/
.cancel-order .art-order .state span{ color:#c7c7c7; }
.cancel-order .art-order .product-num{ color:#c7c7c7; }
.cancel-order .art-order .product-num span{ color:#c7c7c7; }
.cancel-order .art-order .product-num em{ color:#c7c7c7; }




.art-order,.art-order .product-btn a {
    position: relative;
    border:none !important;
}
.art-order:before,.art-order .product-btn a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid;
    border-color:#d9d9d9;
    border-radius:9px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

.art-order .product-btn a.a-green:before{
	border-color: #48b574 !important;
}
.art-order .product-btn a.a-orange:before{
	border-color: #f15a0c !important;
}
.art-order .product-btn a.a-null:before{
	border-color: #939292 !important;
}


.art-order .product-num,.art-order .state,.art-order li{
	position: relative;
	border:none !important;
}

.art-order .product-num:before,.art-order .state:before,.art-order li:before{
    border-bottom: 1px solid #eae8e8;
    content: ' ';
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

@media (-webkit-min-device-pixel-ratio:1.5), (min-device-pixel-ratio: 1.5){

.art-order .product-num:before,.art-order li:before,.art-order .state:before{
      -webkit-transform: scaleY(.7);
      -webkit-transform-origin: 0 0;
      transform: scaleY(.7);
   }
}

@media (-webkit-min-device-pixel-ratio:2), (min-device-pixel-ratio: 2){
.art-order .product-num:before,.art-order li:before,.art-order .state:before{
      -webkit-transform: scaleY(.5);
      transform: scaleY(.5);
  }
}




@media screen and (min-width:640px){
	.art-order li .details{ width:10.25rem; }
}
@media screen and (max-width:320px){
	body{ padding-top:4.61rem; }
	nav{ height:4.61rem; }
	nav li a{ background-size:2.54rem 3.16rem; padding-top:0; }
	.art-order .state{ font-size:0.96rem; }
	.art-order .state .s-state{ font-size:.82rem; margin-top:0.2rem; }
	.art-order li{ padding:.87rem 0; }
	.art-order li .details{ width:9.25rem; }
	.art-order li .details .p-name{ font-size:.96rem; line-height:1.2rem; /*text-overflow:ellipsis; overflow:hidden; white-space:nowrap; */}
	.art-order li .details .p-money{ font-size:1.11rem; margin-top:1.00rem; }
	.art-order li .s-num{ font-size:0.96rem; margin-top:1.81rem; }
	
	.art-order .product-num{ font-size:.96rem; }
	.art-order .product-num em{ font-size:1rem; }
	.art-order .product-btn a{ font-size:0.96rem; width:4.74rem; height:1.91rem; line-height:1.91rem; }
}