/*服务网点*/
.stn-outlets{ border:solid #d9d9d9; border-width:1px 0; background:#fff; margin-top:.72rem; padding:0 3.205%; }
.stn-outlets h1{ color:#000; border-bottom:1px solid #d9d9d9; padding:.54rem 0 .54rem .36rem; }
.stn-outlets .a-title{ display:block; border-bottom:1px solid #d9d9d9; padding:.54rem 0 .54rem .36rem; background:url(../img/left.png) no-repeat 95% center; background-size:.5rem .9rem; color:#000; }
.stn-outlets .a-title span{ display:block; float:right; margin:.1rem 10% 0 0; color:#a6a6a6; }
.stn-outlets li{ padding:.72rem 0; position:relative; }
.stn-outlets li .s-img{ display:block; float:left; width:5.37rem; height:5.37rem; margin:0 .72rem 0 .36rem; border:1px solid #d9d9d9; }
.stn-outlets li .s-img img{ max-width:100%; height:auto; }
.stn-outlets li .p-name{ width:10.9rem; color:#000; }
.stn-outlets li .p-address{ color:#a6a6a6; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; margin-top:.5rem; }

.stn-outlets li em{ display:block; width:5.23rem; height:.65rem; background:url(../img/high.png) no-repeat; background-size:5.23rem 6.17rem; overflow:hidden; text-indent:-9999px; margin-top:.8rem; }
.stn-outlets li .e2{ background-position:0 -1.4rem; }
.stn-outlets li .e3{ background-position:0 -2.8rem; }
.stn-outlets li .e4{ background-position:0 -4.17rem; }
.stn-outlets li .e5{ background-position:0 -5.53rem; }

.stn-outlets li .p-science{ color:#676767; margin-top:.7rem; }
.stn-outlets li .p-science span{ color:#f08f00; }
.stn-outlets li .p-num{ display:block; float:right; background:url(../img/distance.png) no-repeat 0 center; background-size:.47rem .72rem; padding-left:.72rem; color:#a6a6a6; position:absolute; top:.72rem; right:.36rem; }
.stn-outlets li a{ display:block; width:5.45rem; height:1.88rem; line-height:1.88rem; text-align:center; color:#fff; background:#3e9ef9; border-radius:6px; position:absolute; bottom:.72rem; right:.36rem; }

@media screen and (max-width:380px) and (min-width:320px){
	.stn-outlets li a{ width:4.35rem; height:1.48rem; line-height:1.48rem; }
}

@media screen and (min-width:321px){
	.stn-outlets .a-title{ background-size:0.4rem 0.6rem;}
}

@media screen and (max-width:320px){
	.stn-outlets li .p-name{ width:17.5rem; }
	.stn-outlets li .p-address{ margin-top:.2rem; }
	.stn-outlets li em{ margin-top:.5rem; }
	.stn-outlets li .p-science{ margin-top:.25rem; }
	.stn-outlets li a{ height:2.14rem; line-height:2.14rem; }
}