/*notice3 水平滚动*/

.stn-notice-horizontal{width: 100%;color: #f2484c; padding:.3rem 0;background-color: #fff8c0;font-size: 0; border-bottom:1px solid #f8e71c;}

.stn-notice-horizontal em{display: inline-block;margin:0 .425rem 0 .525rem;vertical-align: middle; line-height:0.6rem;}
.stn-notice-horizontal em img{ width:.675rem; height:.575rem;}
.stn-notice-horizontal .wrap{display: inline-block;position:relative;white-space: nowrap;overflow: hidden;width: 82%;line-height: .6rem;height:.6rem;vertical-align: middle;}

.stn-notice-horizontal .wrap .ul-slide{position:absolute;left:0px;top:0;}

.stn-notice-horizontal .wrap li{display: inline-block;text-align: left;}
.stn-notice-horizontal .wrap li a{color: inherit;}
