/*城市定位*/
.stn-location .location-bg {
	background: url(../img/location.png) no-repeat 5% center #262f44;
	background-size: 1.88rem 2.36rem;
	width: 100%;
	height: 3.99rem;
	padding-top: 1rem;
	border-bottom: 1px solid #c5c5c5;
}
.stn-location .location-bg p {
	padding-left: 17%;
	color: #9397a2;
	line-height: 1.5rem;
}
.stn-location .location-bg .p-name {
	color: #fff;
}
.stn-location .a-btn {
	display: block;
	height: 1.59rem;
	line-height: 1.59rem;
	background: #f0f0f6;
	color: #909095;
	padding-left: 2.8%;
}
.stn-location li {
	border-bottom: 1px solid #d9d9d9;
	margin: 0 2.8%;
	height: 4.06rem;
	line-height: 4.06rem;
}
.stn-location li:last-child {
	border-bottom: none;
}
.stn-location li a {
	display: block;
	color: #000;
}
.letter {
	position: fixed;
	top: 5.5rem;
	right: 2.8%;
}
.letter li {
	line-height: 14px;
	text-align:right;
}
.letter li a {
	display: block;
	color: #555555;
}