/*搜索*/
.stn-search{ width:95.93%; position:fixed; top:0; left:0; padding:.54rem 2.035%; background:#f4f4f4; }
.stn-search input{ border:none; width:90%; height:0.68rem; line-height:0.78rem; background:url(../img/search.png) no-repeat 3% center #fff; background-size:1.09rem 1.09rem; border-radius:6px; padding:0.75rem 0 .75rem 10%; }
.stn-search input::-webkit-input-placeholder{ color:#c5c5c5; }