/*红包*/
.subscribe-envelope{ width:93.75%; margin:0 auto; }
.subscribe-envelope input[type=checkbox]{ -webkit-appearance:none; appearance:none; width:20px; height:20px; margin:1.2rem .72rem 0 .36rem; cursor:pointer; vertical-align:bottom; background:none; border:1px solid #dbdada; -webkit-border-radius:50px; -moz-border-radius:50px; border-radius:50px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; position:relative; outline:none; float:left; }
.subscribe-envelope input[type=checkbox]:checked::after{ content:url(../img/selective.png); display:block; position:absolute; top:-1px; left:-1px; }
.subscribe-envelope .integral{ width:85%; height:2.97rem; line-height:2.97rem; border:1px solid #eae8e8; border-radius:4px; float:right; background:url(../img/left.png) no-repeat 95% center #fff; background-size:.58rem 1.09rem; }
.subscribe-envelope .integral p{ color:#585858; padding:0 .72rem; }
.subscribe-envelope .integral p span{ display:block; float:right; margin-right:8%; }
.subscribe-envelope .integral p span em{ display:block; height:.9rem; line-height:.9rem; padding:0 .1rem; float:left; border:1px solid #ff6766; background:#fdf3f3; color:#ff6766; border-radius:4px; margin-top:1rem; }

@media screen and (min-width:640px){
	.subscribe-envelope input[type=checkbox]:checked::after{ top:-1px; left:-1px; }
}
@media screen and (min-width:320px) and (max-width:640px){
	.subscribe-envelope input[type=checkbox]{ margin:1.1rem 3% 0 .72rem; }
}
@media screen and (max-width:320px){
	.subscribe-envelope input[type=checkbox]{ width:20px; height:20px; border-radius:7px; margin:1rem 3% 0 .72rem; }
	.subscribe-envelope input[type=checkbox]:checked::after{ content:url(../img/checkmark.png); }
}