/*头部*/
.h-APP-relative{ padding:3.5% 0;text-indent: -9999px;}
.h-APP{position:fixed;z-index: 800;top:0;left:0;width:100%; padding:3.5% 0; background-color: #fff;text-align: center;white-space: nowrap;max-width: 640px;left: 0;right: 0;margin:0 auto;border-bottom:1px solid #f7f5f5;box-sizing: border-box;}
.h-APP .d-middle{height:.94rem;line-height: .94rem; }
.h-APP .d-left{float:left;max-width: 20%;height:inherit;line-height: inherit;}
.h-APP .d-left a{padding:0 1rem;background: url(../img/d-left.png) no-repeat left center/.7rem;color: #464646;margin-left:.9rem;height:inherit;line-height: inherit;vertical-align: middle;}
.h-APP .d-center{display: inline-block;max-width:67%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;height:inherit;line-height: inherit;}
.h-APP .d-center a{color:#000;padding-right:1rem;height:inherit;line-height: inherit;}
.h-APP .d-right{float:right;margin-right:4%;width:6.7%;background: url(../img/more.png) no-repeat center center /100%; height:.94rem;height:inherit;line-height: inherit;}
.h-APP .d-right a{display: block;height:inherit;line-height: inherit;text-indent: -9999px;}

@media screen and (max-width:320px){
.h-APP .d-middle{height:1.3rem;line-height: 1.3rem;}
}
