/*头部*/
.h-APP-relative{height:3.2rem;}
.h-APP{position:fixed;z-index: 800;top:0;left:0;width:100%; background-color: #fff;text-align: center;height:3.2rem;line-height: 3.2rem;white-space: nowrap;max-width: 640px;left: 0;right: 0;margin:0 auto;}
.h-APP+.h-APP-next{height:3.2rem;}
.h-APP .d-left{float:left;max-width: 20%;}
.h-APP .d-left a{padding:0 1rem 0 .9rem;background: url(../img/d-left.png) no-repeat left center/.7rem;color: #464646;margin-left:.9rem;}
.h-APP .d-center{display: inline-block;max-width:67%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.h-APP .d-center a{color:#000;padding-right:1rem;}
.h-APP .d-right{float:right;margin-right:4%;line-height:inherit;height:inherit;width:6.7%;background: url(../img/more.png) no-repeat center center /100%;}
