/*列表切换*/
.stn-switch{ padding-top:.43rem; background:#f4f4f4; margin-bottom:.58rem; }
.stn-switch li{ border-bottom:1px solid #d9d9d9; width:50%; height:2.28rem; float:left; position:relative; }
.stn-switch li a{ display:block; line-height:2.25rem; width:94.375%; text-align:center; color:#b8b8b8; background:#eaeaea; border:solid #d9d9d9; border-width:1px 1px 0 1px; position:absolute; bottom:0; left:2.8125%; z-index: 99;}
.stn-switch li a.act{ position:absolute; bottom:-1px; padding-bottom:1px; background:#fff; color:#ff6766; }



.border {
    border:none !important;
}
.border:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border:solid #d9d9d9;
    border-width:1px 1px 0px 1px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
}