/*列表*/
.stn-lists{ padding:0 4.68%; }
.stn-lists li{ border-bottom:1px solid #d9d9d9; padding:1.09rem 3%; }
.stn-lists li .li-left{ width:50%; float:left; }
.stn-lists li .li-left .p-name{ color:#000; }
.stn-lists li .li-left .p-time{ color:#c3c3c3; margin-top:.4rem; }
.stn-lists li .li-right{ width:50%; float:right; text-align:right; }
.stn-lists li .li-right .p-money{ color:#f1590d; line-height:1rem; }
.stn-lists li .li-right .p-money em{ display:block; float:right; padding:0 .1rem; border:1px solid #f1590d; color:#f1590d; margin-left:2%; }
.stn-lists li .li-right .p-state{ color:#c3c3c3; margin-top:.4rem; }

@media screen and (max-width:320px){
	.stn-lists li .li-right{ margin-top:.4rem; }
	.stn-lists li .li-right .p-state{ margin-top:.5rem; }
}