/*服务说明*/
.stn-explain{ border:solid #d9d9d9; border-width:1px 0; background:#fff; margin-top:.72rem; padding:0 3.205%; }
.stn-explain h1{ color:#000; border-bottom:1px solid #d9d9d9; padding:.54rem 0 .54rem .36rem; }
.stn-explain .vouchers{ padding-bottom:.72rem; }
.stn-explain .vouchers h2{ color:#d21c26; padding:.36rem 0 0 .36rem; }
