/*车型管理*/
.stn-vehicle {
	width: 93.59%;
	margin: .9rem auto 0;
	background: #fff;
	border: 1px dashed #d5d5d5;
	box-sizing: border-box;
	border-radius: 6px;
}

.stn-vehicle a {
	display: block;
	background: url(../img/left.png) no-repeat 95% center;
	background-size: .58rem 1.09rem;
}
.stn-vehicle a .s-img {
	display: block;
	float: left;
	width: 4.21rem;
	height: 4.21rem;
	margin: 0 .29rem;
}
.stn-vehicle a .s-img img {
	max-width: 100%;
	height: auto;
}
.stn-vehicle a .p-car {
	color: #000;
	padding: .88rem 0 .2rem;
}
.stn-vehicle a .p-num {
	color: #888888;
}
.stn-vehicle .a-add {
	background: none;
}
.stn-vehicle .a-add .img-add {
	display: block;
	width: 7.23rem;
	height: 4.21rem;
	margin: 0 auto;
}
@media screen and (max-width:320px) {
	.stn-vehicle a .p-car {
		padding-top: .6rem;
	}
}
